<?php
    $bannerGroupCode = $this->getBannerGroupCode();
    $data = $this->getDataByGroupCode($bannerGroupCode);
    $bannerGroupData = $data['group_data'];
?>

<?php if(Mage::getStoreConfig('banner/banner/enabled') && $bannerGroupData): ?>
<?php 
    $mediaUrl   = Mage::getBaseUrl('media');
    $bannerData = $data['banner_data'];

    $bannerWidth    = $bannerGroupData->getBannerWidth();
    $bannerHeight   = $bannerGroupData->getBannerHeight();

    $speed          = ($bannerGroupData->getAnimationSpeed()) ? $bannerGroupData->getAnimationSpeed() : 1000;
    $slideInterval  = ($bannerGroupData->getSlideInterval()) ? $bannerGroupData->getSlideInterval() : 5000;
    $autoPlay       = ($bannerGroupData->getAutoplay()) ? $slideInterval : "false";
    $navigation     = ($bannerGroupData->getShowNextPrev()) ? "true" : "false";
    $pagination     = ($bannerGroupData->getShowPager()) ? "true" : "false";

    $transitionStyle = $bannerGroupData->getTransitionStyle();
?>
<div id="<?php echo $bannerGroupData->getGroupCode(); ?>" class="<?php if($bannerGroupData->getSlideShowStyle()): ?>slideshow-style-one <?php else: ?>slideshow-style-two<?php endif; ?>">
    <?php foreach ($bannerData as $banner): ?>
        <div class="items">
            <!-- Banner Image -->
            <a href="<?php echo (($banner->getLink()) ? $banner->getLink() : 'javascript:void(0);'); ?>" title="<?php echo $banner->getTitle(); ?>">
                <img style = "width:400px; height:133px;" src="<?php echo  $mediaUrl . $banner->getFilename(); ?>" alt="<?php echo $banner->getTitle(); ?>" />
            </a>

            <!-- Banner Title and Description -->
            <?php if( $bannerGroupData->getShowTitle() || $bannerGroupData->getShowContent() ): ?>
                <div class="banner-desc">
                    <div class="banner-box">
                        <div class="banner-text">
                            <div class="banner-bg">                                
                                <?php if($bannerGroupData->getShowContent()): ?>
                                    <p><?php echo $banner->getBannerContent(); ?></p>
                                <?php endif; ?>
                                <?php if($bannerGroupData->getShowTitle()): ?>
                                    <h3><?php echo $banner->getTitle(); ?></h3>
                                <?php endif; ?>
                                <?php 
                                    if($banner->getActionText()): 
                                        if($banner->getActionText()=='START SHOPPING') 
                                            $eventLabel='Start-shopping-click'; 
                                        elseif($banner->getActionText()=='CALL NOW: 516-766-2223') 
                                            $eventLabel='Call-now'; 
                                ?>
                                    <a href="<?php echo $banner->getLink(); ?>" class="btn-action" onclick="bannerclick('<?php echo $eventLabel; ?>')"><span><?php echo $banner->getActionText(); ?></span></a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</div>
<script type="text/javascript/defer">
function bannerclick(e){/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)&&"START SHOPPING"==e?(console.log("bannerclick triggered label is Start-shopping-click-mob"),dataLayer.push({event:"GAevent",eventCategory:"Main-Mobile",eventAction:"Button-click",eventLabel:"Start-shopping-click-mob"})):(console.log("bannerclick triggered label is "+e),dataLayer.push({event:"GAevent",eventCategory:"Main",eventAction:"Button-click",eventLabel:e}))}$bannerslider=jQuery.noConflict(),$bannerslider(document).ready(function(){$bannerslider("#<?php echo $bannerGroupData->getGroupCode(); ?>").owlCarousel({items:1,itemsDesktop:[1199,1],itemsDesktopSmall:[980,1],itemsTablet:[768,1],itemsMobile:[479,1],navigation:<?php echo $navigation; ?>,pagination:<?php echo $pagination; ?>,autoPlay:<?php echo $autoPlay; ?>,slideSpeed:<?php echo $speed; ?>,rewindSpeed:<?php echo $speed; ?>,paginationSpeed:<?php echo $speed; ?>,<?php if($transitionStyle == 'slide' || $transitionStyle == ""): ?>transitionStyle     : false,<?php else: ?>transitionStyle     : "<?php echo $transitionStyle; ?>",<?php endif; ?>})});
</script>
<?php endif; ?>
