
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (http://www.aitoc.com)
 */
.login-link {
    margin: 0px 0px 5px 0px;
    padding:0px;
}

.aitcheckout-wait{
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    z-index:500;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:absolute;
    top:0;
    left:0;
}

.aitcheckout-wait img{
    left:50%;
    top:40%;
    display:block;
    position:absolute;
}

#co-checkout-form #checkoutSteps {
   overflow: hidden;
}

#co-checkout-form #checkoutSteps li.section{
	display:block;
	margin-bottom:10px;
    overflow: hidden;}
	
#co-checkout-form #checkoutSteps li#opc-coupon,
#co-checkout-form #checkoutSteps li#opc-review,
#co-checkout-form #checkoutSteps li#opc-giftmessage,
#co-checkout-form #checkoutSteps li#opc-agreements,
#co-checkout-form #checkoutSteps li#opc-newsletter,
#co-checkout-form #checkoutSteps li#opc-aitgiftwrap{
	margin-bottom:0;
	border-bottom:none;}
	
#co-checkout-form li#opc-coupon .form-list li{
	display:block;
	float:left;}
	
#co-checkout-form #coupon-apply-button,
#co-checkout-form #coupon-cancel-button{
	margin:18px 0 0 15px;}
	
#co-checkout-form .success-msg{
	overflow:hidden;
	clear:both;}

#co-checkout-form .buttons-set{
    border:none;
    margin:0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 0;
    margin-top:20px;
}


#co-checkout-form #checkout-buttons-container.buttons-set{
    padding-left: 15px;
}
#co-checkout-form .checkout-agreements .agree{
	padding:5px 0px 3px 0px;}
	
#co-checkout-form .gift-messages-form .inner-box{
	height:auto;}
	
#co-checkout-form #checkout-subscribe-newsletter{
    padding: 10px 20px;
}

@media only screen and (max-width: 979px) {
    #co-checkout-form #checkout-subscribe-newsletter{
        padding: 10px 10px;
    }
}
#co-checkout-form #customreview-aitcheckoutfields-top,
#co-checkout-form #customreview-aitcheckoutfields-bottom{
   border-left:0 !important;
   border-right:0 !important;
   border-top:0 !important;
}
#co-checkout-form #opc-review #checkout-step-review fieldset{
   margin-top:0;}

*+html #co-checkout-form #checkoutSteps li.section{
   margin-top:-4px;}
   
   
/* qty buttons */

.qty_box{
	width:55px;}

#co-checkout-form .qty{
	width:35px;
	margin-right:5px;
	float:left;}
	
#co-checkout-form .qty_buttons{
	overflow:hidden;
	width:10px;}
	
#co-checkout-form .qty_buttons .btn-increase{
	display:block;
	width:10px;
	height:10px;
	background-image:url(../../../images/aitoc/aitcheckout/incr.png);
	background-position:top left;
	background-repeat:no-repeat;
	margin-bottom:3px;}
	
#co-checkout-form .qty_buttons .btn-decrease{
	display:block;
	width:10px;
	height:10px;
	background-image:url(../../../images/aitoc/aitcheckout/decr.png);
	background-position:top left;
	background-repeat:no-repeat;}
   
button.btn-move-to-wishlist span {
   background:none repeat scroll 0 0 #618499;
   border-color:#406A83;}
   
*+html #checkoutSteps{
   padding-top:7px;}
   
#checkout-step-review .buttons-set{
        margin: 0;
}   
.co-checkout-insteadform-div{
    background-color: #FBFAF6;
    border: 1px solid #D9DDE3;
    padding: 10px;
}
.page-title.title-buttons{
    clear: both;
}
.cart-table {
    width: 100%  !important;
}
.cart-totals-wrapper .cart-totals{
    background: none;
    border: none;
}
.step.a-item{
    position: relative;
}
.compact-cart td .edit{
    vertical-align: top;
}
#billing-aitcheckoutfields-top .form-list .control > .field > label,
#shipping-aitcheckoutfields-top .form-list .control > .field > label,
#shipping-method-aitcheckoutfields-top .form-list .control > .field > label,
#customreview-aitcheckoutfields-top .form-list .control > .field > label,
#payment-aitcheckoutfields-top .form-list .control > .field > label,
#billing-aitcheckoutfields-bottom .form-list .control > .field > label,
#shipping-aitcheckoutfields-bottom .form-list .control > .field > label,
#shipping-method-aitcheckoutfields-bottom .form-list .control > .field > label,
#customreview-aitcheckoutfields-bottom .form-list .control > .field > label,
#payment-aitcheckoutfields-bottom .form-list .control > .field > label{
    padding-left: 0px;
    background: none;
}
#billing-aitcheckoutfields-top .form-list .control > .field li,
#shipping-aitcheckoutfields-top .form-list .control > .field li,
#shipping-method-aitcheckoutfields-top .form-list .control > .field li,
#payment-aitcheckoutfields-top .form-list .control > .field li,
#customreview-aitcheckoutfields-top .form-list .control > .field li,
#billing-aitcheckoutfields-bottom .form-list .control > .field li,
#shipping-aitcheckoutfields-bottom .form-list .control > .field li,
#shipping-method-aitcheckoutfields-bottom .form-list .control > .field li,
#payment-aitcheckoutfields-bottom .form-list .control > .field li,
#customreview-aitcheckoutfields-bottom .form-list .control > .field li{
    margin-bottom: 5px;
}

#co-checkout-form #left_collumn ul.form-list ul.form-list{
    padding-left: 0;
}
#co-checkout-form #customreview-aitcheckoutfields-top .buttons-set {
    margin-left: 0px;
}
#delivery_date_trig {
    display: inline;
}
#right_collumn #opc-deliverydate #delivery_date,
#center_column #opc-deliverydate #delivery_date{
    height: 20px;
}

#checkout-step-giftmessage.step {
    padding-bottom: 0;
}