<?php
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (https://www.aitoc.com)
 */
if(!$this->getDontDisplayContainer()): ?>
<script type="text/javascript">
//<![CDATA[
if(!window.toogleRequired) {
    var toogleRequired = function (source, objects)
    {
        if(!$(source).value.blank()) {
            objects.each(function(item) {
               $(item).addClassName('required-entry');
            });
        } else {
            objects.each(function(item) {
                if (typeof shippingMethod != 'undefined' && shippingMethod.validator) {
                   shippingMethod.validator.reset(item);
                }
                $(item).removeClassName('required-entry');
            });

        }
    }
}
//]]>
</script>
<?php endif ?>
<?php if ($this->isMessagesAvailable() || $this->isItemsAvailable()): ?>
<?php switch ($this->getType()): ?>
<?php case 'onepage_checkout': ?>
    <div class="gift-messages">
        <h3><?php echo $this->__('Do you have any gift items in your order?'); ?></h3>
        <p class="control">
            <input type="checkbox" name="allow_gift_messages" id="allow-gift-messages" value="1" onclick=""<?php if($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label for="allow-gift-messages"><?php echo $this->__('Add gift options.') ?></label>
        </p>
    </div>
    <div class="gift-messages-form" id="allow-gift-messages-container">
        <div class="inner-box">
            <?php if ($this->isMessagesAvailable()): ?>
                <h4><?php echo $this->__('Gift Options for the Entire Order.'); ?></h4>
                <p>
                    <input type="checkbox" name="allow_gift_messages_for_order" id="allow-gift-messages-for-order" value="1" onclick=""<?php if($this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    <label for="allow-gift-messages-for-order"><?php echo $this->__('Add gift options for the Entire Order') ?></label>
                </p>
                <div id="allow-gift-messages-for-order-container">
                    <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for whole order.') ?></p>
                    <input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]"  value="quote" />
                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="gift-message-whole-from"><?php echo Mage::helper('sales')->__('From') ?></label>
                                <div class="input-box">
                                    <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]" id="gift-message-whole-from" title="<?php echo Mage::helper('sales')->__('From') ?>"  value="<?php echo $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                </div>
                            </div>
                            <div class="field">
                                <label for="gift-message-whole-to"><?php echo Mage::helper('sales')->__('To') ?></label>
                                <div class="input-box">
                                    <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]" id="gift-message-whole-to" title="<?php echo Mage::helper('sales')->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                </div>
                            </div>
                        </li>
                        <li class="wide">
                            <label for="gift-message-whole-message"><?php echo Mage::helper('sales')->__('Message') ?></label>
                            <div class="input-box">
                                <textarea id="gift-message-whole-message" onchange="toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo Mage::helper('sales')->__('Message') ?>" rows="5" cols="10"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea>
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
                    //<![CDATA[
                        toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to']);
                    //]]>
                    </script>
                </div>
             <?php endif; ?>
             <?php if($this->isItemsAvailable()): ?>
                 <h4><?php echo $this->__('Gift Options for Individual Items'); ?></h4>
                 <p>
                    <input type="checkbox" name="allow_gift_messages_for_items" id="allow-gift-messages-for-items" value="1" onclick=""<?php if($this->getItemsHasMesssages()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    <label for="allow-gift-messages-for-items"><?php echo $this->__('Add gift options for Individual Items') ?></label>
                </p>
                <div id="allow-gift-messages-for-items-container">
                 <p><?php echo $this->__('You can leave this box blank if you do not wish to add a gift message for the item.') ?></p>
                 <ol>
                 <?php foreach($this->getItems() as $_index=>$_item): ?>
                 <?php $_product=$_item->getProduct() ?>
                 <li class="item">
                    <?php if (!$this->helper('aitcheckout')->isCompactDesign()): ?>
                     <div class="product-img-box">
                         <p class="product-image">
                             <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                         </p>
                         <p class="number"><?php echo $this->__('Item %d of %d', $_index+1, $this->countItems()) ?></p>
                     </div>
                     <?php endif; ?>
                     <div class="details">
                         <div class="f-fix">
                             <h5 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h5>
                             <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][type]" value="quote_item" />
                              <ul class="form-list">
                                 <li class="fields">
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-from"><?php echo Mage::helper('sales')->__('From') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][from]" id="gift-message-<?php echo $_item->getId() ?>-from" title="<?php echo Mage::helper('sales')->__('From') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                     <div class="field">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-to"><?php echo Mage::helper('sales')->__('To') ?></label>
                                         <div class="input-box">
                                             <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][to]" id="gift-message-<?php echo $_item->getId() ?>-to" title="<?php echo Mage::helper('sales')->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                         </div>
                                     </div>
                                 </li>
                                 <li class="wide">
                                     <label for="gift-message-<?php echo $_item->getId() ?>-message"><?php echo Mage::helper('sales')->__('Message') ?></label>
                                     <div class="input-box">
                                         <textarea id="gift-message-<?php echo $_item->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $_item->getId() ?>][message]" title="<?php echo Mage::helper('sales')->__('Message') ?>" rows="5" cols="40"><?php echo $this->getEscaped($this->getMessage($_item)->getMessage()) ?></textarea>
                                     </div>
                                 </li>
                             </ul>
                             <script type="text/javascript">
                             //<![CDATA[
                                toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to']);
                             //]]>
                             </script>
                         </div>
                     </div>
                 </li>
                 <?php endforeach; ?>
             </ol>
             </div>
             <?php endif; ?>
        </div>
    </div>

    <div id="giftmessage-waiting" class="aitcheckout-wait" style="display:none"><img src="<?php echo Mage::getDesign()->getSkinUrl('images/opc-ajax-loader.gif'); ?>" /></div>
    
    <script type="text/javascript">
    //<![CDATA[

        aitCheckout.createStep('giftmessage',{
            }, {
                doCheckErrors : false,
                isLoadWaiting : true,
                isUpdateOnReload : false,
                isShowCartInCheckout : <?php echo $this->helper('aitcheckout')->isShowCartInCheckout()?'1':'0' ?>,
                container: 'checkout-step-giftmessage',
                ids: {
                    allowGift : 'allow-gift-messages',
                    allowGiftForOrder : 'allow-gift-messages-for-order',
                    allowGiftForItems:  'allow-gift-messages-for-items'
                }
            }
        );

    //]]>
    </script>
    

    
<?php break; ?>
<?php endswitch ?>
<?php endif; ?>