<?php
$configHelper = Mage::helper('adroll_pixel/config');
?>
<h3>
    <?php echo $this->__(
        'This is the list of all your stores along with the installed AdRoll Pixel, you can delete the pixel by pressing on the button in the third column. You can also <a href="%1$s">Configure your AdRoll advertiser profiles</a> and <a href="%2$s">integrate an existing advertiser profile to your Magento store</a>',
        Adroll_Pixel_Main::ADROLL_BASE_URL . '/dashboard/account/profiles',
        Adroll_Pixel_Main::ADROLL_BASE_URL . '/ecommerce/magento'); ?>
</h3>
<div class="grid">
    <table>
        <thead>
            <tr class="headings">
                <th><?php echo $this->__('Store'); ?></th>
                <th><?php echo $this->__('Advertiser profile'); ?></th>
                <th></th>
            </tr>
        </thead>
        <?php foreach (Mage::app()->getWebsites() as $website): ?>
            <?php foreach ($website->getGroups() as $group): ?>
                <tr>
                    <td><?php echo $group->getName(); ?></td>
                    <td>
                        <?php if ($configHelper->getAdvertisableEid($group->getId())): ?>
                            <a href="<?php echo Adroll_Pixel_Main::ADROLL_BASE_URL . '/dashboard?advertisable=' . $configHelper->getAdvertisableEid($group->getId()) ?>">
                                <?php echo $configHelper->getAdvertisableName($group->getId()) ?: $this->__('Unknown name'); ?>
                            </a>
                        <?php else: ?>
                            <?php echo $this->__('No AdRoll pixel configured'); ?>
                        <?php endif; ?>
                    </td>
                    <td>
                        <?php if ($configHelper->getAdvertisableEid($group->getId())): ?>
                            <button type="button"
                                    onclick="adrollPixelRemovePixel(<?php echo $group->getId() . ', \'' . $group->getName() . '\'' ?>);">
                                <?php echo $this->__('Remove AdRoll pixel'); ?>
                            </button>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </table>
</div>
<script>
    function adrollPixelRemovePixel(groupId, groupName) {
        if (window.confirm('<?php echo $this->__('Are you sure you want to remove the AdRoll pixel from the store "%s"?' ); ?>'.replace('%s', groupName))) {
            new Ajax.Request('<?php echo $this->getData('uninstallPixelActionUrl'); ?>', {
                parameters: {store_group_id: groupId},
                method: 'post',
                onSuccess: function(transport) {
                    window.location.reload();
                }.bind(this)
            });
        }
    }
    (function () {
        document.querySelector('.content-header .form-buttons').hide();
    })();
</script>
