<?php
$existentGroup = Mage::helper('adroll_pixel/config')->getGroupForAdvertisableEid($this->getRequest()->getQuery('advertisable'));
?>
<form method="post" action="<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/adroll/finalize'); ?>">
    <div class="content-header">
        <h3><?php echo $this->__('AdRoll Integration'); ?></h3>
        <p class="form-buttons">
            <button type="button" onclick="window.location.href = 'https://app.adroll.com/ecommerce/magento/'">
                <?php echo $this->__('Cancel'); ?>
            </button>
            <button type="submit" class="scalable save">
                <span>
                    <span>
                        <span>
                            <?php echo $this->__('Continue'); ?>
                        </span>
                    </span>
                </span>
            </button>
        </p>
    </div>

    <div class="entry-edit">
        <div class="fieldset">
            <p>
                <?php echo $this->__(
                    'Please select the store you want to integrate with AdRoll profile <strong>%s</strong>',
                    $this->getRequest()->getQuery('name')
                ); ?>
            </p>
            <?php if ($existentGroup !== null): ?>
            <p>
                <div class="notification-global notification-global-warning">
                    <?php echo $this->__(
                        '<strong>Warning:</strong> The advertiser profile <strong>%1$s</strong> is already integrated with the store <strong>%2$s</strong>, if you choose to integrate another store with the advertiser profile, the pixel is going to be removed from <strong>%3$s</strong>.',
                        $this->getRequest()->getQuery('name'),
                        $existentGroup->getName(),
                        $existentGroup->getName()
                    ); ?>
                </div>
            </p>
            <?php endif; ?>
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <input type="hidden" name="advertisable_name" value="<?php echo $this->getRequest()->getQuery('name'); ?>" />
            <input type="hidden" name="advertisable" value="<?php echo $this->getRequest()->getQuery('advertisable'); ?>" />
            <input type="hidden" name="pixel" value="<?php echo $this->getRequest()->getQuery('pixel'); ?>" />
            <select name="store_group_id" title="<?php echo $this->__('Select the store') ?>">
                <option value="0"><?php echo $this->__('Select the store'); ?></option>
                <?php foreach (Mage::app()->getWebsites() as $website): ?>
                    <optgroup label="<?php echo $website->getName(); ?>">
                        <?php foreach ($website->getGroups() as $group): ?>
                            <option value="<?php echo $group->getId(); ?>">
                                <?php echo $group->getName(); ?>
                            </option>
                        <?php endforeach; ?>
                    </optgroup>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
</form>
<p style="font-size: 9.5px;">* <?php echo $this->__('In order to track your potential customers across devices and browsers, this integration will send email addresses collected on your site to AdRoll for data and email services. AdRoll may persistently store and use hashed versions of these email addresses and combine these with email hashes from other customers to improve our services.'); ?></p>
