.jcarousel-skin-tango .jcarousel-container {
    
    background: #fff;    
}
.product_body {
margin-top:0px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
padding-left:14px;
padding-top:0px;
width:735px;
background:none;
height:220px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:700px;
    height: 220px;
	margin-left:0px;
	float:left;
	display:inline;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    height:220px;width:154px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left:12px;
	margin-right:12px;
	display:inline;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 60px;
    right:0px;
    width: 15px;
    height: 80px;
    cursor: pointer;
    background: transparent url(../../images/hm/next.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background: transparent url(../../images/hm/next.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
   background: transparent url(../../images/hm/next.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(../../images/hm/next1.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 15px;
    height: 80px;
    cursor: pointer;
    background: transparent url(../../images/hm/prev.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    
	 background: transparent url(../../images/hm/prev.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   
		background: transparent url(../../images/hm/prev.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(../../images/hm/prev1.gif) no-repeat 0 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/hm/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background:#000;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background:#000;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background:#000;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/hm/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
   background:#000;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background:#000;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background:#000;
}
