
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (http://www.aitoc.com)
 */
#checkout-review-table thead > tr > th {
    display: table-cell !important;
}

@media only screen and (max-width: 1100px) and (min-width: 870px){
    #checkoutSteps li{
        width: 46%;
    }
    #checkoutSteps li#left_collumn, #checkoutSteps li#center_column {
        width: auto;
    }
}
@media only screen and (max-width: 720px) {
    #checkoutSteps li#left_collumn, #checkoutSteps li#center_column {
        width: 100%;
    }
    #checkoutSteps li{
        width: 100%;
    }
    #checkoutSteps .form-list li.wide input.input-text, #checkoutSteps .form-list input.input-text, #checkoutSteps .form-list select, #checkoutSteps .form-list textarea {
       width: 85%;
    }
    #checkoutSteps .form-list .compact .input-box input, #checkoutSteps .form-list .name-firstname .input-box input, #checkoutSteps .form-list .name-lastname .input-box input, #checkoutSteps .form-list .compact .input-box select {
        width: 90%;
    }
    #checkoutSteps .form-list .compact .input-box, #checkoutSteps .form-list .name-firstname .input-box, #checkoutSteps .form-list .name-lastname .input-box {
        width: 100%;
    }
    #checkoutSteps .form-list .compact, #checkoutSteps .form-list .name-firstname, #checkoutSteps .form-list .name-lastname {
        width: 45%;
    }
}

#checkoutSteps{
    min-width: 400px;
}

#checkoutSteps li#right_collumn{
    min-width: 380px;
}

#checkoutSteps > li{
    min-width: 280px;
}