<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php $comments = $this->getComments() ?>
<?php if (count($comments) > 0): ?>
	<ul class="comment-list<?php if ($this->getParentId()): ?> children<?php endif; ?>">
		<?php foreach($comments as $comment): ?>
			<li class="comment" id="comment-<?php echo $comment->getId() ?>">
				<div class="comment-inner">
					<?php if ($avatarUrl = $comment->getAvatarUrl(50)): ?>
						<div class="gravatar">
							<img src="<?php echo $avatarUrl ?>" alt="<?php echo $this->escapeHtml($comment->getCommentAuthor()) ?>" />
						</div>
					<?php endif; ?>
					<div class="comment-meta comment-date by">
						<?php if ($comment->getCommentAuthorUrl() !== '#'): ?>
							<a href="<?php echo $this->escapeHtml($comment->getCommentAuthorUrl()) ?>" rel="nofollow" class="comment-url"><?php echo $this->escapeHtml($comment->getCommentAuthor()) ?></a> 
						<?php else: ?>
							<span class="comment-url">
								<?php echo $this->escapeHtml($comment->getCommentAuthor()) ?>
							</span>					
						<?php endif; ?>
						<a href="<?php echo $comment->getUrl() ?>" rel="nofollow" class="comment-when"><?php echo $this->__('%s at %s', $comment->getCommentDate() , $comment->getCommentTime()) ?></a>
					</div>
					<p class="comment-entry entry"><?php echo $this->getCommentContent($comment) ?></p>
					<?php if ($this->canComment()): ?>
						<div class="reply">
							<a href="<?php echo $this->getPost()->getPermalink() ?>?replytocom=<?php echo $comment->getId() ?>#respond" class="comment-reply-link"><?php echo $this->__('Reply') ?></a> <span>&darr;</span>
						</div>
					<?php endif; ?>
				</div>
				<?php echo $this->getChildrenCommentsHtml($comment) ?>
			</li>
		<?php endforeach; ?>
	</ul>
<?php endif; ?>