<?php
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (https://www.aitoc.com)
 */
?>
<div id="co-coupon-form">
    <fieldset>
        <div style="display:none;" id="coupon-notice" class="error-msg"></div>
        <ul class="form-list">

            <li>
                <label for="coupon_code"><?php echo $this->__('Coupon code:') ?></label>
                <input type="hidden" id="remove_coupon" name="remove_coupon" value="0" />
                <div class="input-box">
                    <input class="input-text <?php echo (strlen($this->getCouponCode())) ? 'required-entry' : '' ?>" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
                </div>
            </li>
            <li>
                <button id="coupon-apply-button" type="button" title="<?php echo Mage::helper('checkout')->__('Apply Coupon') ?>" class="button" onclick="discountSubmit(false);" value="<?php echo Mage::helper('checkout')->__('Apply Coupon') ?>"><span><span><?php echo Mage::helper('checkout')->__('Apply Coupon') ?></span></span></button>
                <?php if(strlen($this->getCouponCode())): ?>
                <button id="coupon-cancel-button" type="button" title="<?php echo Mage::helper('checkout')->__('Cancel Coupon') ?>" class="button" onclick="discountSubmit(true);" value="<?php echo Mage::helper('checkout')->__('Cancel Coupon') ?>"><span><span><?php echo Mage::helper('checkout')->__('Cancel Coupon') ?></span></span></button>
                <?php endif;?>
            </li>
        </ul>
    </fieldset>
</div>
<div id="coupon-waiting" class="aitcheckout-wait" style="display:none"><img src="<?php echo Mage::getDesign()->getSkinUrl('images/opc-ajax-loader.gif'); ?>" /></div> 
<script type="text/javascript">
//<![CDATA[
discountSubmit = function (isRemove) {
    if (isRemove) {
        $('remove_coupon').value = "1";
    } else {
        $('remove_coupon').value = "0"; 
    }
}
//]]>
</script>                      
<script type="text/javascript">
//<![CDATA[
    aitCheckout.createStep('coupon',{
                couponUpdateUrl : '<?php echo $this->getUrl('aitcheckout/cart/couponPost', array('_secure'=>true)) ?>'
            }, {
                doCheckErrors : false,
                isLoadWaiting : true,
                isUpdateOnReload : false,
                reloadMessage: <?php echo $this->helper('aitcheckout')->isShowCheckoutInCart() && $this->helper('aitcheckout')->isCompactDesign()?'false':'true' ?>,
                container: 'checkout-step-coupon'
            }
    );
	aitCheckout.getStep('coupon').initCoupon('coupon-apply-button', 'coupon-cancel-button');
//]]>
</script>