<?php
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (https://www.aitoc.com)
 */
?>
<div id="checkout-review-table-wrapper">

    <table id="shopping-cart-table" class="data-table cart-table compact-cart">
        <col />
        <col width="1" />
        <col width="1" />
        <!--col width="1" /-->

    <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
        <thead>
            <tr>
                <th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo Mage::helper('checkout')->__('Product Name') ?></span></th>
                <th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo Mage::helper('checkout')->__('Qty') ?></th>
                <th class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo Mage::helper('checkout')->__('Subtotal') ?></th>
                <!--th rowspan="<?php echo $mergedCells; ?>" class="a-center">&nbsp;</th-->
            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <tr>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
            </tr>
            <?php endif; ?>
        </thead>
        <tbody>
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach ?>
        </tbody>
        <?php echo $this->getChildHtml('totals'); ?>
    </table>

</div>
<script type="text/javascript">
//<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
//]]>
</script>
    
<script type="text/javascript">
//<![CDATA[  

    aitCheckout.createStep('review',{
        updateOptionsUrl :  '<?php echo $this->getUrl('aitcheckout/cart/updateItemOptions', array('_secure'=>true)) ?>',
        updatePostUrl :     '<?php echo $this->getUrl('aitcheckout/cart/updatePost', array('_secure'=>true)) ?>',
        deleteUrl :         '<?php echo $this->getUrl('aitcheckout/cart/delete', array('_secure'=>true)) ?>'
    }, {
        doCheckErrors : false,
        isLoadWaiting : true,
        isUpdateOnReload : false,
        doNotInitAfter : false,
        container: 'checkout-step-review',
        ids: {
            productOptions: '.product-options',
            itemQuantity:   '.aititemqty',
            buttonIncrease: '.btn-increase',
            buttonDecrease: '.btn-decrease',
            buttonRemove:   '.btn-remove2',
            buttonWishlist: '.btn-move-to-wishlist'
        }
    });

    <?php $count = Mage::helper('checkout/cart')->getSummaryCount();
    $text = Mage::helper('checkout')->__('Checkout');
    if( $count > 0 ) {
        $text .= " ($count ".$this->__(($count==1)?'item':'items').')';
    }
    ?>
    if ($$('a.top-link-checkout').first()){
        $$('a.top-link-checkout').first().innerHTML = '<?php echo $text; ?>';
    }

//]]>
</script>