<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $_products = $this->getProducts() ?>
<?php if (count($_products) > 0): ?>
	<div class="block block-related">
		<?php if ($title = $this->getTitle()): ?>
			<div class="block-title">
				<strong><span><?php echo $title ?></span></strong>
			</div>
		<?php endif; ?>
		<div class="block-content">
			<ol class="mini-products-list" id="block-blog-related">
				<?php foreach($_products as $_product): ?>
					<li class="item">
						<div class="product">
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(50) ?>" width="50" height="50" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
							<div class="product-details">
								<p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></p>
								<?php echo $this->getPriceHtml($_product, true, '-blog-related') ?>
							</div>
						</div>
					</li>
				<?php endforeach; ?>
			</ol>
		</div>
<script type="text/javascript">decorateList('block-blog-related', 'none-recursive');</script>
	</div>
<?php endif; ?>
