.nav-container {
    width: 960px;
    margin: 0 auto;
    /* background: #fff; */
}

.mainpagenavlinks {
    width: 960px;
    background: #152858;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu {
    list-style: none;
    width: 960px;
    /* height: 37px; */
    padding: 0 .5rem 0 .8rem;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    right: 10px;
    margin: 0 auto;
    background-color: #152858;
}

ul.menu a { 
    display: block;
    text-decoration: none;
    line-height: normal;
    color: white;
}

ul.menu li {
    position: relative;
    display: inline-block;
    justify-content: space-around;
}

ul.menu ul {
    position: absolute;
    top: 50px;
    left: -58px;
    /* height: auto; */
    background: #b5b7bb;
    display: none;
    /* color: white; */
    list-style: none;
    /* border-top: 1px solid #ccc; */
}

ul.menu ul li {
    position: relative;
    border-top: none;
    width: 100%;
    background: none;
    margin: 0;
}

ul.menu ul li a {
    display: block;
    background-color: #e8e8e8;
    padding: 3px 7px 5px;
}

ul.menu ul li.level1 a {
    display: block;
    background-color: #e8e8e8;
    border: none;
    padding: 3px 7px 5px;
}

ul.menu ul ul {
    left: 174px;
    top: -1px;
}

ul.menu li.level0 a {
    font-weight: 700;
}

/*ul.menu li.active a {
    background: url(../../images/cover_menu_trans.png) repeat-x center;
    color:#33c;
    color: #002398;
}*/

ul.menu li.active a {
    color: #00eafe;
}

ul.menu ul li,
ul.menu ul li.active {
    margin: 0;
    padding: 0;
}

ul.menu ul li.last {
    padding-bottom: 0;
}

ul.menu ul a,
ul.menu ul a:hover,
ul.menu ul a.over {
    float: none;
    background: none;
}

ul.menu ul a span,
ul.menu ul a:hover span,
ul.menu ul a.over span {
    float: none;
    display: inline;
}

ul.menu ul li a,
ul.menu ul li a span {
    font-weight: 400!important;
    line-height: normal!important;
    background: none!important;
    transition: all 2s;
}

ul.menu ul li a,
ul.menu li.active li a {
    border: none;
    color: #000;
    font-size: 100%;
    text-transform: none;
    margin: 0;
}

/*ul.menu ul li a:hover,
ul.menu ul li a:active,
ul.menu ul li a:focus,
ul.menu ul li a.over {
    background: #F2F2F2!important;
    color: #e8e8e8;
}*/

/*ul.menu ul li.level1 a:hover {
    color: #F5F5F5;
}*/

/*ul.menu li.level0 a:hover span,
ul.menu li.mainhome a:hover span {
    color: #002398;
}*/

ul.menu span {
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    margin: auto;
}

li.mainhome a {
    font-weight: 700;
    padding: 10px 15px;
    /* color: #8ad9ec; */
}

li.level0.nav-1.level-top.first a {
    padding: 10px 15px;
}

li.level0.nav-2.level-top a {
    padding: 10px 15px;
}

li.level0.nav-3.level-top a {
    padding: 10px 12px;
}

li.level0.nav-4.level-top a {
    padding: 10px 12px;
}

li.level0.nav-5.level-top a {
    padding: 10px 13px;
}

li.level0.nav-6.level-top.last.parent a {
    padding: 10px 15px;
}






li.mainhome, li.level0.nav-1.level-top.first, li.level0.nav-2.level-top, li.level0.nav-3.level-top, li.level0.nav-4.level-top, li.level0.nav-5.level-top, li.level0.nav-6.level-top, li.level0.nav-7.level-top.last.parent {
    padding: 10px 0 10px 0;
}

/*ul.menu li.level0.nav-6.level-top.last.parent a.leveltop:hover {
    background: linear-gradient(#FFF, #E2E1E1);
    width:64px;
}*/

/*ul.menu li:hover {
    background: linear-gradient(#FFF, #E2E1E1);
    padding-top: .5px;
}*/

li.level1.nav-6-1.first a span,
li.level1.nav-6-2 a span,
li.level1.nav-6-3 a span,
li.level1.nav-6-4 a span,
li.level1.nav-6-5 a span,
li.level1.nav-6-6 a span,
li.level1.nav-6-7 a span,
li.level1.nav-6-8 a span,
li.level1.nav-6-9 a span,
li.level1.nav-6-10.last a span {
    font-size: 12px;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 3px;
  }
  50% {
    width: 100%;
    height: 3px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

ul.menu li a,
ul.menu li a:after,
ul.menu li a:before {
  transition: all .5s;
}

ul.menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #eee;
  height: 1px;
}

ul.menu ul li a {
  transition: all .5s;
}

ul.menu ul li a:after {
  width: 100%;
}



ul.menu li a:hover {
     color: #999;
  z-index: 1;
}

ul.menu li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}





