<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<form action="<?php echo $this->helper('wordpress')->getUrl() ?>wp-pass.php" method="post" id="protect<?php echo $this->getPost()->getId() ?>">
	<div class="no-display">
		<input type="hidden" name="redirect_to" value="<?php echo $this->getPost()->getPermalink() ?>" />
	</div>
	<div class="fieldset">
		<div class="legend"><?php echo $this->__('Protected') ?></div>
		<p><?php echo $this->__('This %s is password protected. To view it please enter your password below:', $this->getEntityType()) ?></p>
		<ul class="form-list">
			<li>
				<label for="protect<?php echo $this->getPost()->getId() ?>_post_password"><?php echo $this->__('Password') ?></label>
				<div class="input-box">
					<input type="text" value="" class="input-text" name="post_password" id="protect<?php echo $this->getPost()->getId() ?>_post_password" />
				</div>
			</li>
		</ul>
	</div>
	<div class="buttons-set">
		<button value="<?php echo $this->__('Attempt Access') ?>" class="button" name="submit" type="submit">
			<span><span><?php echo $this->__('Submit') ?></span></span>
		</button>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		new VarienForm('protect<?php echo $this->getPost()->getId() ?>');
	//]]>
	</script>
</form>