<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $items = $this->getDateItems() ?>
<?php if ($items): ?>
	<div class="block block-blog block-blog-archives">
		<?php if ($title = $this->getTitle()): ?>
			<div class="block-title">
				<strong><span><?php echo $this->__($title) ?></span></strong>
			</div>
		<?php endif; ?>
		<div class="block-content">
			<div id="calendar_wrap">
				<table id="wp-calendar">
					<thead>
						<tr>
							<th scope="col"><?php echo $this->__('M') ?></th>
							<th scope="col"><?php echo $this->__('T') ?></th>
							<th scope="col"><?php echo $this->__('W') ?></th>
							<th scope="col"><?php echo $this->__('T') ?></th>
							<th scope="col"><?php echo $this->__('F') ?></th>
							<th scope="col"><?php echo $this->__('S') ?></th>
							<th scope="col"><?php echo $this->__('S') ?></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<?php if ($this->hasPreviousUrl()): ?>
								<td colspan="3" class="a-left">
									<a href="<?php echo $this->getPreviousUrl() ?>">&laquo; <?php echo $this->getPreviousText() ?></a>
								</td>
							<?php else: ?>
								<td colspan="3" class="pad">&nbsp;</td>
							<?php endif; ?>
							<td class="pad">&nbsp;</td>
							<?php if ($this->hasNextUrl()): ?>
								<td colspan="3" class="a-right">
									<a href="<?php echo $this->getNextUrl() ?>"><?php echo $this->getNextText() ?> &raquo;</a>
								</td>
							<?php else: ?>
								<td colspan="3" class="pad">&nbsp;</td>
							<?php endif; ?>
						</tr>
					</tfoot>
					<tbody>
						<?php foreach($items as $it => $row): ?>
							<tr>
								<?php foreach($row as $html): ?>
									<?php if (is_null($html)): ?>
										<td class="pad">&nbsp;</td>
									<?php else: ?>
										<td><?php echo $html ?></td>
									<?php endif; ?>
								<?php endforeach; ?>
							</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<?php endif; ?>