<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $terms = $this->getTerms() ?>
<?php if (count($terms) > 0): ?>
	<div class="block block-blog block-blog-taxonomy">
		<?php if ($title = $this->getTitle()): ?>
			<div class="block-title">
				<strong><span><?php echo $this->__($title) ?></span></strong>
			</div>
		<?php endif; ?>
		<div class="block-content">
			<ul class="level0" id="wp-term-list">
				<?php foreach($terms as $term): ?>
					<?php echo $this->drawChildItem($term) ?>
				<?php endforeach; ?>
			</ul>
			<script type="text/javascript">decorateList('wp-term-list')</script>
		</div>
	</div>
<?php endif; ?>