

/****************************************************/
/****************[ Mage_CSS_B Clears ]***************/
/****************************************************/

.page-head:after,
.page-head-alt:after,
.clear:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.col2-alt-set:after,
.head:after,
.inner-head:after,
.header-top:after,
.quick-access:after,
.header-nav:after,
#nav:after,
.middle:after,
.product-essential:after,
.button-set:after,
.actions:after,
.legend:after,
.form-list li:after,
.button-container:after,
.ratings:after,
.page-head:after,
.page-head-alt:after,
.group-select li:after,
.search-autocomplete li:after,
.side-col li:after,
.account-box li:after,
.address-list li:after,
.generic-product-list li:after,
.listing-type-list .listing-item:after,
.listing-type-list .product-info .product-reviews:after,
.my-review-detail:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0em;
	visibility:hidden;
	overflow:hidden;
	}
.middle {display:inline-block;}