

h1#logo { display:inline; }
.form-button, .form-button-alt { margin-bottom:1px; }
.group-select .legend { position:relative; zoom:1; }

/* Min-height for IE */
.login-box .content { height:180px; }
.content-box { height:250px; }
#main { height:400px; }

.validation-advice { height:15px; }
.error-msg, .success-msg, .note-msg { height:23px; }
.currency-switcher h4 { height:21px; }
.base-mini .head h4, .shopping-cart-collaterals h4 { height:16px; }
.login-box h4 { height:16px; }
.login-box .content { height:230px; }
