
.col2-set,
.col3-set,
.col4-set,
.col2-alt-set,
.head,
.page-head,
.page-head-alt,
.header-top-container,
.header-top,
.header-nav-container,
.header-nav,
.quick-access,
#nav,
#nav li,
#nav a,
.middle,
.product-essential,
.button-set,
.actions,
.form-list li,
.button-container,
.ratings,
.page-head,
.page-head-alt,
.group-select li,
.search-autocomplete li,
.side-col li,
.account-box li,
.address-list li,
.listing-type-list .listing-item,
.listing-type-list .product-info .product-reviews,
.account-nav a,
.account-box,
.my-review-detail,
.generic-product-list li { zoom:1; }

.clear { display:block; clear:both; height:0; font-size:0; line-height:0; overflow:hidden; }

input.radio,
input.checkbox { width:13px; height:13px; }
.multi-address-checkout-box .box { zoom:1; }
.multi-address-checkout-box .legend { zoom:1; position:relative; margin-left:8px;}
.quick-access li { padding-right:4px; padding-left:6px;}
.search-autocomplete { left:39px !important; }
.mini-search  { padding-top:-1px; line-height:1em;}
.home-spot { display:inline; }
.mini-related-items .product-details { margin-left:76px; }
.mini-related-items .product-images input { float:left; margin:-4px 2px 0 -4px; }
.mini-related-items .product-images img { float:left; }
#nav ul li.parent { margin-bottom:-3px;}
