<?php
//unset($_COOKIE['uchat']);//DELETE THE COOKIES CONTENT
//CHECK THE CUSTOMERS NAME AND IF I CAN'T FIND IT I'LL SET UP A GUEST ACCOUNT
$customer = Mage::getSingleton('customer/session')->getCustomer();

if ($customer->getFirstname()){
	$uname = $customer->getFirstname(); // Must be already set
	$usid = $customer->getId();
	if (checkop()==1){
		$group=1; //Set the group at 1 because is support		
	}else{
		$group=0; //Set the group at 0 because is general
	}
	$texp=(60*60*24);//Cookies expired after 24H
 }else{
	$numguest=intval(str_replace(".","",microtime(true)));
	$numguest=substr($numguest,-5);
	$uname ="Guest".$numguest;		
	$group=0;
	$texp=(60*60);//Cookies expired after 1H
}

function checkop(){
	$login = Mage::getSingleton( 'customer/session' )->isLoggedIn(); //Check if User is Logged In
	//Check if is a customer or guest
	
	if (count($login)>0){
		if($login)
		{
			$groupId = Mage::getSingleton('customer/session')->getCustomerGroupId(); //Get Customers Group ID
			if($groupId == 4){ //Check if is a support operator
				return 1;
			}else{
				return 0;
			}
		}
	}else{
		//Return 0 because is a guest visitor 
		return 0;
	}
}

//SET COOKIE FOR CHAT
setcookie("uchat",$uname,time()+$texp, "/");
setcookie("chatg",$group,time()+$texp, "/");
setcookie("idchat",'0',time()+$texp, "/");
setcookie("chatto",'',time()+$texp, "/");
if ($group==1){setcookie("usid",$usid,time()+$texp, "/");}//set support operator id 
?>

<!DOCTYPE html>
<div class="block block-list block-chat">
    <div class="block-title">
        <strong><span>Chat</span></strong>
    </div>
    <div class="block-content">		
        <img src="<?php echo Mage::helper('core/url')->getHomeUrl() ?>/skin/frontend/default/mEbay/images/chat.png" title="" alt="">    				
		<p>Click <a onclick="popupCenter('<?php echo Mage::helper('core/url')->getHomeUrl() ?>chat/index.php', 'Chat',400,525);" href="javascript:void(0);">HERE</a> for support online!!!</p>
	</div>
</div>

<script>
function popupCenter(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
} 
</script>