          <!-- ADDED THE SEARCH BAR HERE -->
                <div id="form_wrapper_green">
                    <form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
                            <div class="form-search">
                                <label for="search"><?php echo $this->__('Search:') ?></label>
                                <input id="search" type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>" class="input-text" />
                                <select id="select-category" class="select-category">
                                    <option selected="selected" value="">All Category</option>
                                    <option value="93">Ford, Lincoln & Mercury</option>
                                    <option value="92">Chrysler, Dodge & Plymouth</option>
                                    <option value="94">GM (General Motors)</option>
                                    <option value="85">Jeep</option>
                                    <option value="87">Mazda</option>
                                    <option value="43">Modules</option>
                                </select>
                                <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
                                <a href="<?php echo $this->getUrl('catalogsearch/advanced/') ?>" class="links_advanced"><?php echo $this->__('Advanced') ?></a>
                                <div id="search_autocomplete" class="search-autocomplete"></div>
                                <script type="text/javascript">
                                //<![CDATA[
                                    var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
                                    //searchForm.initAutocomplete('<?php echo $this->helper('catalogsearch')->getSuggestUrl() ?>', 'search_autocomplete');
                                //]]>
                                </script>
                            </div>
                        </form>
                </div>

<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to https://www.magentocommerce.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2014 Magento Inc. (https://www.magentocommerce.com)
 * @license     https://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>



<?php
/**
 * @see Mage_Catalog_Block_Seo_Sitemap_
 */
?>

<?php $_items = $this->getCollection(); ?>
<?php if($_items->getSize()): ?>
	
	<style>

		.fieldset.seomap {
			height: 600px;
			text-align: left;
			color: grey;
			background-image: url(https://www.goodfreephotos.com/albums/vector-images/colorful-brain-map-vector-clipart.png);
			background-repeat: no-repeat;
			background-size: 40%;
			background-position: top 10% right 10%;
			border: 1px solid white;
			box-shadow: none;
		}
		
		.sitemap {
			text-align: left;
			font-size: 14px;
			line-height: 1.8em;
			color: grey;			
		}	

		.page-sitemap .sitemap {
			text-align: left;
			float: left;
			height: 600px;
			color: grey;
		}

		.page-sitemap .sitemap li.level-0 a {
			font-size: 16px;
			font-weight: normal;
		}

		.page-sitemap .sitemap li.level-1 {
			font-style: normal;
			margin-left: 20px;
			color: silver;
			/*letter-spacing: 1px;*/
			word-spacing: 1px;
		}

		.pager {
			background-color: white;
			margin-top: -20px;
		}

		.page-title h1 {
			background-color: white;
			color: black;
			border: 1px dotted transparent;
			border-bottom-color: grey;
		}
		
		#content_mw > div > div > div > div > div.page-title > h1 {
			margin-bottom: 20px;
		}		

	</style>

	<div class="fieldset seomap">
		<!-- <h2 class="legend seomap">Site Map</h2> -->
		<!-- <div class="ctleft seo"> -->
			<!-- <img src="/skin/frontend/default/mEbay/images/seomapl.png" /> -->
		<!-- </div> -->
		
			<ul class="sitemap">
				<?php foreach ($_items as $_item): ?>
					<li class="level-<?php echo $this->getLevel($_item) ?>" <?php echo $this->getLevel($_item)?'style="padding-left:' . $this->getLevel($_item, 2) . '0px;"':'' ?>><a href="<?php echo $this->getItemUrl($_item) ?>"><?php echo $_item->name ?></a></li>
				<?php endforeach; ?>
			</ul>

			<!-- <img src="https://image.freepik.com/free-icon/pin-filled-for-locations_318-32368.jpg" style="display: inline-block; float: right; width: 100px;> -->
		
	</div>
<?php else: ?>
    <p class="note-msg">
        <?php echo $this->__('There are no %s available.', $this->getItemsTitle()); ?>
    </p>
<?php endif ?>


<style>
    .form-search {
        /*background-color: #026578;
        padding: 5px 0px 5px 5px;*/        
    }

    #search {
        border: 1px solid #026578;
        color: black;
        margin-top: 5px;
    }
    
    #select-category {
        border: 1px solid #026578;
        color: black;
        margin-top: 5px;
    }

    .quick-access {
        padding-top: 10px;
    }

    .category-description.std {
        line-height: 1.3em;
        font-size: 14px;
    }

    #form_wrapper_green {
        width: auto;
        height: auto;
        /*background-color: #026578;*/
        background-color: #f2f2f2;
        padding: 5px;
        margin-bottom: 20px;
        padding-top: 15px;
        margin-top: -24px; 
        padding-bottom: 21px;
        border-bottom: 2px solid #026578;
    }

    .page-title.category-title {
        width: auto;
    }

    .main-container.col2-left-layout {
        padding-top: 45px;
    }

    .form-search button.button span {
        padding: 6px 5px;
        color: white;
        background-color: #026578;
        /*margin-top: 5px;*/
    }

    .form-search button.button {
        margin-top: 12px;
    }

    #search_mini_form > div > a {
      color: black;
      /*font-weight: bolder;*/
      margin-top: 7px;
    }

    #content_mw > div > div > div > div.contact-container {
      height: auto;
    }

</style>