<?php 
$tabs = $this->getTabs();	
	if(count($tabs) < 1 || $tabs[0] == ""):
		echo '<p class="note-msg">Current not exits or open any tab! Please contact administrator.</p>';
	else:?>
	<?php /*
		<script src="<?php echo $this->getSkinUrl('ajaxhometabs/js/ajaxhometabs.js');?>" type="text/javascript"></script>
		<link href="<?php echo $this->getSkinUrl('ajaxhometabs/css/ajaxhometabs.css');?>" rel="stylesheet"/>
	*/?>	
		<?php $default_tab =  Mage::getStoreConfig('ajaxhometabs/tabgeneral/default_tab');		?>
		<script>
			var moduleName = "ajaxhometabs";
			var url = "<?php echo Mage::getBaseUrl()?>";
			var def = "<?php echo $default_tab ?>";
			loadData(url+moduleName, def);
		</script>
		
		<div id="module">
			
			<div id="tabs">
				<?php echo $this->getTabsHtml();?>
				<div style="clear:both"></div>	
				<div style="width:300px; margin:0 auto">	
					<div id="loading-mask" style="display:none">
						<p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('ajaxhometabs/images/ajax-loader-tr.gif'); ?>" alt="<?php echo Mage::helper('ajaxhometabs')->__('Loading...') ?>"/><br/><?php echo Mage::helper('ajaxhometabs')->__('Please wait...') ?></p>
					</div>
				</div>
			
			</div>
			
			<div id="content"><?php echo $this->getDefaultContent() ?></div>
		</div>
<?php 
	endif;
?>