<?php
/**
 *
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: https://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 *
 */
?>
<?php

/**
 * Form link widget template
 *
 * @category    Plugincompany
 * @package     Plugincompany_Contactforms
 * @author      Milan Simek
 */
?>
<?php $_form = $this->getCurrentForm();?>
<?php if ($_form) :?>
    <div class="form-widget-link">
        <a href="<?php echo $_form->getFormUrl()?>"><?php echo $_form->getTitle()?></a>
    </div>
<?php endif;?>
