<?php
/**
 * Hello Magento
 *
 * @package    HM
 * @license    https://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @see HM_Bestseller_Model_Bestseller
 */
?>

<?php 
 
$total_products = ($this->show_total) ? $this->show_total : 12;
$_productCollection = $this->getBestsellers($total_products); 
$_collectionSize = count($_productCollection);
?>


<?php if(count($_productCollection) > 0): ?>

<?php /* BELOW IS DEFAULT MAGENTO TEMPLATE CODE FROM catalog/product/list.phtml file */ ?>
<div class="category-title">
	<h2><?php echo $this->__('Bestsellers Products') ?></h2>
</div>
<div class="listing-type-grid catalog-listing">
<div class="product_body" >
<?php $_collectionSize = count($_productCollection) ?>
	<ul id="mycarousel" class="jcarousel-skin-tango">
    <?php $i=0; foreach ($_productCollection as $_product): ?> 
		<li >
			<div class="boxseller">
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php //echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(152, 142); ?>" alt="<?php //echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php //echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
				</a>					
				<div class="box_caption">
					<h5><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h5>
					<div class="seller_price">								
						<span><?php echo $this->helper('checkout')->formatPrice($_product->getPrice()) ?></span>  								
					</div>						
					
				</div>
			</div>				
		</li>
    <?php endforeach ?>
    </ul>
	</div>
</div>
<?php endif; ?>
