<?php
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (https://www.aitoc.com)
 */
?>
<div id="checkout-subscribe-newsletter">
    <input type="checkbox" name="newsletter" value="1" title="<?php echo Mage::helper('customer')->__('Subscribe to newsletter') ?>" id="newsletter" onchange="" class="checkbox" />
    <label for="newsletter"><?php echo Mage::helper('customer')->__('Subscribe to newsletter') ?></label>
</div>