

/* Homepage Layout
--------------------------------------------------------------------------------------- */

.homepage_content { width: 816px; padding:0px; height: 317px; background:none; overflow: hidden; position: relative;}
.homepage_content img { border: none; margin: 0; padding: 0; width: 816px; height: 317px;}
#divMainRotatorNav { position:absolute; bottom:0px; left:8px; z-index:99; }
#divMainRotatorNav a {margin: 0 0 0 4px;padding:0;display:block;text-decoration: none;color: #6a6a6a;font-weight:bold; font-family:Arial, Helvetica, sans-serif;	font-size:11px;border:5px solid #420807;width:87px;height:50px;display:block;background-color:#000;
	/* for IE */	filter:alpha(opacity=50);
	/* CSS3 standard */
	opacity:0.6;}
#divMainRotatorNav a:hover {	text-decoration: none;color: #ffffff;border:5px solid #7b1616;background-color:#000;  	
	/* for IE */
	filter:alpha(opacity=100);
	/* CSS3 standard */
	opacity:1.0;
   }
#divMainRotatorNav a.activeSlide {	
	text-decoration: none;color: #ffffff;border:5px solid #7b1616;background-color:#000;  	
	/* for IE */
	filter:alpha(opacity=100);
	/* CSS3 standard */
	opacity:1.0;
	 }
#divMainRotatorNav a:focus { outline: none; }
.home_events_row {overflow: hidden;width: 100%;border-bottom:2px solid #dddddd;padding: 14px 0 9px 0;}
.home_events_row h4 {float: left; display:inline;font-size: 3.8em;color: #aaaaaa; margin-left: 12px;line-height: 1em;padding: 0;}
.home_events_content {float: right;display: inline;width: 84%;}
.home_events_content h3 { font-size: 1.4em; }
.home_events_content p { margin: 1px 0 0 0; }

.aaa{position:relative;width:100%;margin-bottom:35px;}
.bbb{top:-14px;z-index:1000;width:100%;position:absolute;}
/*slide*/

#nav1 { margin: 0px; position: relative }
#nav1 li { float: left; list-style: none; line-height: 24px;}
#nav1 a { padding: 0px 5px; text-decoration: none; color: #fff; font-size: 12px; font-family: arial; background:url(../images/li-hover.jpg) no-repeat; width:7px; height:22px; font-weight: bold; }
#nav1 a.activeSlide {color: #FF920A; font-size: 12px; font-family: arial; font-weight: bold; background:url(../images/li-active.jpg) no-repeat;}
#nav1 a:focus { outline: none; }
.intro_barner{height:200px;}
#nav1 a span{ display: none;}

#demos {
	/*clear:both;*/
	width:100%; float: left;
}
.so {
	background:transparent url(../images/sliderbanner/tab_number.png) no-repeat;
	height:42px;
	margin:auto;
	text-align:left;
	width:100%;
	display: block;
	padding-top:17px;
}
.so a{ float: left; line-height: 24px;}
.so ul{ float: left;}
#prev img{ padding-top: 3px; padding-left:25px;}
#next img{ padding-top: 4px;}
#slideshow{overflow: hidden;height: 310px;}

#demos h2{ padding: 0px; margin: 0px; width: 597px; float: left;}
.Profitez{ overflow: hidden;  width: 597px; float: left;}
.green_intro{ height: 236px !important;}
.so a.link-more{
	color: #F9D428;
	font-size: 14px;
	text-decoration: none;
	float: right;
	text-align: right;
	padding-right: 20px;
}
.so a:hover.link-more{
	color: #F9D428;
	font-size: 14px;
	text-decoration: underline;
	float: right;
	text-align: right;
	padding-right: 20px;
}
#pauseButton{
	padding-top: 4px;
	padding-left: 5px;
}



/* Easy SimpleSlider */
#divSimpleSliderRotate { position:absolute; bottom:10px; right:10px; z-index:99; }
#divSimpleSliderRotate a {
	margin: 0 0 0 4px;
	padding: 1px 5px;
	background: #ffffff;
	text-decoration: none;
	color: #6a6a6a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	border:1px solid #6a6a6a;
	   }
#divSimpleSliderRotate a:hover {
	background: #b2b2b2;
	text-decoration: none; 
	color: #404040;
   }
#divSimpleSliderRotate a.activeSlide {
	background: #b2b2b2;
	text-decoration: none;
	color: #404040;
	 }
#divSimpleSliderRotate a:focus { outline: none; }
/* Easy SimpleSlider */



/* Easy Slider */
#content_slider{
	position:relative;
	margin:0px 45px;
	}
#slider{}	
#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider li{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:856px;
	height:241px;
	overflow:hidden; 
	}	
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:71px;
	}	
#nextBtn{ 
	left:856px;
	}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:30px;
	height:77px;
	background:url(../images/easyslider/btn_prev.gif) no-repeat 0 0;	
	}	
#nextBtn a{ 
	background:url(../images/easyslider/btn_next.gif) no-repeat 0 0;	
	}												
.graphic, #prevBtn, #nextBtn {
text-indent:-8000px;
}
/* // Easy Slider */

/* // accordion Slider */
set{border-bottom:1px solid #000}
set1{background-color:#C77B3F;}
set2{background-color:#FFC732;}
set3{background-color:#007C90;}
set4{background-color:#AD6F08;}
set5{background-color:#387855;}
set6{background-color:#8C4B2D;}
set7{background-color:#82A668;}

.accordionWrapper{display:inline-block; background:none; overflow:hidden;}
.accordionWrapper img{vertical-align:top; border:0; margin:0; padding:0}
.accordionWrapper div{display:inline; float:left; margin:auto;}
.accordionWrapper div.title{cursor:pointer;}
.accordionWrapper div.content{display:none; margin:0px; padding:0px;}

/* // accordion Slider */