.widget .widgetTitle {
    /* clear: both; */
    /* background: #04568e; */
    width: 94%;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    text-transform: uppercase;
    height: 16px;
    margin: 10px 0 7px 14px;
    padding: 10px;
}

.widget .widgetTitle h2 {
    font-size: 21px;
    font-weight: 700;
    color: #006578;
}

.widget .mini-products-images-list .product-image{display:block;width:76px;height:76px;border:1px solid #a9a9a9;margin:0 auto;}.widget .mini-products-images-list li.item{float:left;width:77px;height:77px;}.widget-products{margin-top:15px;padding: 0 1rem;}.col-main .widget-featured-products{margin-top:20px; background-color: white;}.col-main .widget-new-products{margin-bottom:20px;}.sidebar .widget-static-block{display:block;/*margin:0 0 10px;*/}.top-container .widget a{padding:0 0 0 7px;}.bottom-container .widget a{padding:0 3px;}.widget,.widget-product-link-inline,.widget-category-link-inline,.widget-cms-link-inline{display:inline;}.widget-featured-products,.widget-new-products,.widget-viewed,.widget-compared{display:block;}.widget-featured-products .products-grid .product-image,.widget-featured-products .products-list .product-image,.widget-new-products .products-grid .product-image,.widget-new-products .products-list .product-image,.widget-viewed .products-grid .product-image,.widget-viewed .products-list .product-image,.widget-compared .products-grid .product-image,.widget-compared .products-list .product-image{width:85px;height:85px;}.widget-featured-products .products-list .product-shop,.widget-new-products .products-list .product-shop,.widget-viewed .products-list .product-shop,.widget-compared .products-list .product-shop{margin-left:100px;}.sidebar .widget-featured-products .block,.sidebar .widget-new-products .block,.sidebar .widget-viewed .block,.sidebar .widget-compared .block{font-size:11px;line-height:1.25;}.sidebar .widget-featured-products .block-title strong,.sidebar .widget-new-products .block-title strong{background:url(../images/widgets/i_widget-new.gif) 0 1px no-repeat;padding-left:21px;color:#dc5033;}.col-main .widget-viewed,.col-main .widget-compared{margin:7px 0;}.sidebar .widget-viewed .block-title strong,.sidebar .widget-compared .block-title strong{background:url(../images/widgets/i_block-list.gif) 0 0 no-repeat;padding-left:21px;}.col-main .widget-product-link,.col-main .widget-category-link,.col-main .widget-cms-link{display:block;text-align:right;margin:7px 0;}.col-main .widget-product-link a,.col-main .widget-category-link a,.col-main .widget-cms-link a{background:url(../images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding-right:15px;}.sidebar .widget-product-link,.sidebar .widget-category-link,.sidebar .widget-cms-link{display:block;margin:0 0 15px;padding:0 10px;}.sidebar .widget-product-link a,.sidebar .widget-category-link a,.sidebar .widget-cms-link a{background:url(../images/widgets/i_widget-link.gif) 100% 4px no-repeat;padding:0 15px 0 0;}.widget-products .products-grid .product-image{margin-bottom:40px}
