@media only screen and (max-width: 795px) and (orientation: portrait) {
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 45%;
        text-indent: 10px;
        color: #444;
        line-height: 22px;
        padding: 2%
    }
    footer {
        background: #eee;
        color: #444;
    }
    .addthis_toolbox.addthis_default_style {
        float: right;
    }
    .footerlinks {
        width: 100%;
        text-align: center;
        font-size: 100%
    }
    .footerlinks ul {
        padding-top: 2%
    }
    .footerlinks ul li {
        border: none;
        line-height: 20px;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        font-size: 100%;
        font-weight: 700
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline {
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
    .connect3-content a {
        margin: 0 5px;
        /* padding-top: 5px; */
        /* margin-top: 5px; */
        color: #474747;
    }
    .connect3-content {
        padding-top: 5px;
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 30px;
        height: 30px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .bottombackground {
        background: #717171;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
    }
    p.copyright,
    p.address,
    .emailadd p {
        text-align: center;
        font-size: .9em;
        text-shadow: none;
        color: #fff
    }
    .emailadd {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .emailadd a {
        color: white;
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd p {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 90%;
        height: 250px
    }
    .product-view .product-image {
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }
    .fieldset.about {
        margin: 8% 2% 0
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        margin-bottom: 10%
    }
    p.mapiframe iframe {
        width: 95%;
        display: block;
        margin: 0 auto;
        height: 200px
    }
    .info {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        margin: 12% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 70%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 60%;
        line-height: 25px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        margin-top: 10%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 55%
    }
}

@media only screen and (min-device-width: 410px) and (max-device-width: 736px) and (orientation: portrait) {
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 0%;
        font-size: 45%;
        text-indent: 0px;
        color: #444;
        line-height: 22px;
        padding: 15px;
    }
    .footerlinks {
        width: 100%;
        text-align: center;
        font-size: 100%
    }
    .footerlinks ul {
        padding-top: 2%
    }
    .footerlinks ul li {
        border: none;
        line-height: 20px;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        font-size: 100%;
        font-weight: 700
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin-top: 5px
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 30px;
        height: 30px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        background: #636363;
    }
    p.copyright,
    p.address,
    .emailadd p {
        text-align: center;
        font-size: .9em;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 75%;
        height: 230px
    }
    .product-view .product-image {
        width: 50%;
        margin: auto;
    }
    .fieldset.about {
        margin: 8% 2% 0
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        margin-bottom: 10%
    }
    p.mapiframe iframe {
        width: 95%;
        display: block;
        margin: 0 auto;
        height: 200px
    }
    .info {
        width: 100%;
        vertical-align: middle;
        text-align: center;
        margin: 12% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 70%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 60%;
        line-height: 25px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        margin-top: 10%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 55%
    }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        background: #636363;
    }
    .footerlinks {
        width: 100%;
        padding: 1% 0;
        font-size: 100%;
        text-align: center
    }
    .footerlinks ul {
        line-height: 0;
        list-style: none;
        display: inline;
        vertical-align: middle
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 1% 1% 0;
        font-size: 80%;
        font-weight: 700
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks li::after {
        content: "|";
        font-size: 85%;
        padding-left: 10px;
        color: #f3f3f3;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .last.privacy::after {
        content: ""
    }
    p.copyright,
    p.address,
    .emailadd {
        text-align: center;
        font-size: 75%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin-top: 5px
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 50px;
        height: 50px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 75%;
        height: 230px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
    #product-attribute-specs-table {
        width: 98%
    }
    #product-attribute-specs-table th {
        width: 50%
    }
    #product-attribute-specs-table td.data.last {
        width: 30%;
    }
}

@media only screen and (max-width: 1274px) and (orientation: landscape) {
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        background: #636363;
    }
    .footerlinks {
        width: 100%;
        padding: 1% 0;
        font-size: 100%;
        text-align: center
    }
    .footerlinks ul {
        line-height: 0;
        list-style: none;
        display: inline;
        vertical-align: middle
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 1% 1% 0;
        font-size: 80%;
        font-weight: 700
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks li::after {
        content: "|";
        font-size: 85%;
        padding-left: 10px;
        color: #f3f3f3;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .last.privacy::after {
        content: ""
    }
    p.copyright,
    p.address,
    .emailadd {
        text-align: center;
        font-size: 75%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 50px;
        height: 50px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 75%;
        height: 230px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        background: #636363;
    }
    .footerlinks {
        width: 100%;
        padding: 1% 0;
        font-size: 100%;
        text-align: center
    }
    .footerlinks ul {
        line-height: 0;
        list-style: none;
        display: inline;
        vertical-align: middle
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 1% 1% 0;
        font-size: 80%;
        font-weight: 700
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks li::after {
        content: "|";
        font-size: 85%;
        padding-left: 10px;
        color: #f3f3f3;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .last.privacy::after {
        content: ""
    }
    p.copyright,
    p.address,
    .emailadd p {
        text-align: center;
        font-size: 75%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 50px;
        height: 50px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 75%;
        height: 230px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        background: #636363;
    }
    .footerlinks {
        width: 100%;
        padding: 1% 0;
        font-size: 100%;
        text-align: center
    }
    .footerlinks ul {
        line-height: 0;
        list-style: none;
        display: inline;
        vertical-align: middle
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 1% 1% 0;
        font-size: 82%;
        font-weight: 700
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks li::after {
        content: "|";
        font-size: 85%;
        padding-left: 10px;
        color: #f3f3f3;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .last.privacy::after {
        content: ""
    }
    p.copyright,
    p.address,
    .emailadd p {
        text-align: center;
        font-size: 75%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    p.emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 50px;
        height: 50px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 75%;
        height: 230px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .footerlinks {
        width: 100%;
        padding: 1% 0;
        font-size: 100%;
        text-align: center
    }
    .footerlinks ul {
        line-height: 0;
        list-style: none;
        display: inline;
        vertical-align: middle
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 1% 1% 0;
        font-size: 80%;
        font-weight: 700
    }
    .footerlinks ul li a {
        color: #f3f3f3;
        text-decoration: none;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .footerlinks li::after {
        content: "|";
        font-size: 85%;
        padding-left: 10px;
        color: #f3f3f3;
        text-shadow: 0 1px 1px #1A1A1A
    }
    .last.privacy::after {
        content: ""
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 60px;
        height: 60px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        border: 0px solid #145072;
        background: #636363;
    }
    p.copyright,
    p.address,
    .emailadd p {
        text-align: center;
        font-size: 78%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 60%;
        height: 255px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) {
    section#info {
        background: #f3f3f3;
        padding-bottom: 1px
    }
    .bizinfo {
        font-size: 2em
    }
    p.infotext {
        margin: 2% 5% 5%;
        font-size: 50%;
        text-indent: 10px;
        color: #444
    }
    footer {
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        color: #444;
        text-shadow: 0 1px 1px #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
        background-image: -webkit-linear-gradient(#fdfdfd, #eee);
        background-image: -moz-linear-gradient(#fdfdfd, #eee);
        background-image: -ms-linear-gradient(#fdfdfd, #eee);
        background-image: -o-linear-gradient(#fdfdfd, #eee);
        background-image: linear-gradient(#fdfdfd, #eee);
        border-top: 1px solid #538db9
    }
    .footerlinks {
        width: 100%;
        border-bottom: 1px solid #538db9;
        padding: 1% 0
    }
    .footerlinks ul {
        line-height: 27px;
        overflow: hidden;
        padding: 2.5%;
        list-style: none;
        display: inline
    }
    .footerlinks ul li {
        display: inline;
        border: none;
        margin: 0 2% 0 0
    }
    .footerlinks ul li a {
        color: #1394ca;
        text-decoration: none;
        font-size: 85%;
        font-weight: 700
    }
    .footerlinks li::after {
        content: "|";
        font-size: 65%;
        padding-left: 10px
    }
    .first.last::after {
        content: ""
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px
    }
    .partner {
        padding-top: 10px;
        margin-bottom: 10px
    }
    .list-inline,
    .social-inline {
        margin: 0;
        padding: 0
    }
    .list-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 0
    }
    .container ul li:hover {
        border: none;
        width: inherit
    }
    .payment.links .partner li img {
        width: 70%;
    }
    .sociallinks img {
        width: 60px;
        height: 60px
    }
    .socialcontainer {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 15px 0 0
    }
    .social-inline li {
        display: inline-block;
        background: none;
        border: none;
        width: inherit;
        margin: 1% 2% 0 0
    }
    .bottombackground {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 100%
    }
    .bottomcontainer {
        height: 10%;
        border: 0px solid #145072;
        background: #636363;
    }
    p.copyright,
    p.address,
    .emailadd {
        text-align: center;
        font-size: 78%;
        text-shadow: none;
        color: #fff
    }
    .footerinfo {
        margin-top: 3%
    }
    .footerinfo p {
        padding: .1em
    }
    .emailadd a {
        color: #fff;
        font-weight: 700;
        padding-right: 3px
    }
    .keyvideo {
        text-align: center;
        width: 100%;
        vertical-align: middle;
        height: 100%
    }
    .keyvideo iframe {
        width: 60%;
        height: 255px
    }
    .product-view .product-image {
        width: 25%
    }
    .fieldset.about {
        margin: 4% 2% 0;
        padding-bottom: 10%
    }
    .col-1-p1,
    .col-1-p2,
    .col-1-p3 {
        text-indent: 20px;
        text-align: left;
        font-size: 1.1em
    }
    .col-1-p1 span {
        font-weight: 700
    }
    p.mapiframe {
        float: right;
        width: 50%
    }
    p.mapiframe iframe {
        width: 100%;
        float: right;
        height: 400px;
        margin: 0 auto;
        display: block
    }
    .info {
        width: 50%;
        text-align: left;
        margin: 8% 0 5%;
        font-size: 2em
    }
    .infoname {
        font-size: 55%;
        margin-bottom: 5px;
        color: #396b9e
    }
    .fs1info {
        font-size: 45%;
        line-height: 20px
    }
    table.hours {
        text-align: center;
        font-size: 2em;
        border-collapse: collapse;
        width: 45%
    }
    .hours tr th {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 65%;
        background: #f7f7f7;
        color: #396b9e
    }
    .hours tr td {
        border: 1px solid #1A1A1A;
        padding: 2% 0;
        font-size: 45%
    }
}

@media only screen and (max-width: 1274px) and (orientation: landscape) {
    .product-view .product-image {
        width: 25%
    }
    .flexslider {
        display: none
    }
}