<script type = 'text/javascript'>
//Inline script execution delay after external <script defer src=""> executed
//Inline scripts should be marked like this: <script type="text/javascript/defer">
window.addEventListener('DOMContentLoaded', function() {
var scripts = document.getElementsByTagName("script")

    for (var i = 0; i < scripts.length; i++) {
        var type = scripts[i].getAttribute("type");
        if (type && type.toLowerCase() == 'text/javascript/defer') {
            scripts[i].parentNode.replaceChild((function (delayscript) {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.innerHTML = delayscript.innerHTML;

                return script;
            })(scripts[i]), scripts[i]);
        }
    }
})
</script>