/* Theme options */

/* Links Color */
a { color:#1394ca; }

/* Main color */

body > header .menu-wrapper { 


padding-left: 0px;
			border-bottom:1px solid #fff;
			background:#2567ab;
			color:#fff;
			text-shadow:0 -1px 1px #145072;
			background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
			background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);
			background-image:-moz-linear-gradient(#5f9cc5,#396b9e);
			background-image:-ms-linear-gradient(#5f9cc5,#396b9e);
			background-image:-o-linear-gradient(#5f9cc5,#396b9e);
			background-image:linear-gradient(#5f9cc5,#396b9e);



 }
body > footer ul { 






 }
 
body > address.copyright { 


border-bottom:1px solid #ccc;background:#eee;color:#444;text-shadow:0 1px 1px #f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));background-image:-webkit-linear-gradient(#fdfdfd,#eee);background-image:-moz-linear-gradient(#fdfdfd,#eee);background-image:-ms-linear-gradient(#fdfdfd,#eee);background-image:-o-linear-gradient(#fdfdfd,#eee);background-image:linear-gradient(#fdfdfd,#eee);

font-size: 10px;

 }



/* Button Color */
a[href*="invitation/index/send/"].button,
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
#contactForm .buttons-set button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.my-wishlist-shared .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button
 { 


 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:10px;
			margin-bottom:10px;
			
			border:1px solid #145072;background:#2567ab;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);background-image:-moz-linear-gradient(#5f9cc5,#396b9e);background-image:-ms-linear-gradient(#5f9cc5,#396b9e);background-image:-o-linear-gradient(#5f9cc5,#396b9e);background-image:linear-gradient(#5f9cc5,#396b9e);

	box-shadow: 0 0 7px #a4a4a5;



 }
 
 
 
 

 
 
 
 
 
 /* Button Color CLICKED */
a[href*="invitation/index/send/"].button:hover,
.map-popup-checkout button:hover,
.more-button:hover,
.btn-checkout:hover,
.account-login button:hover,
.add-to-links > li > a:hover,
.cart-table tfoot button:hover,
.opc .buttons-set button:hover,
.checkout-success button:hover,
.box-reviews .buttons-set button:hover,
.my-account .form-buttons button:hover,
#contactForm .buttons-set button:hover,
.giftregistry .buttons-set button:hover,
.wishlist-view .buttons-set button:hover,
.send-to-friend .buttons-set button:hover,
.account-create .buttons-set button:hover,
.add-to-links > li .split-button strong:hover,
.catalog-product-gallery .buttons-set a:hover,
.my-account .my-rewards .buttons-set button:hover,
.my-account .my-wishlist .buttons-set button:hover,
.my-wishlist-shared .buttons-set button:hover,
.product-view .product-shop .add-to-box button:hover,
.popup-block .block-content .buttons-set button:hover,
.customer-account-forgotpassword .buttons-set button:hover,
.product-view .product-options-bottom .add-to-cart button:hover,
.my-account .billing-agreements .box-content .form-list select + button:hover 


{ 


 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:10px;
			margin-bottom:10px;
			
border:1px solid #145072;background:#eee;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#4182ad),to(#184776));background-image:-webkit-linear-gradient(#4182ad,#184776);background-image:-moz-linear-gradient(#4182ad,#184776);background-image:-ms-linear-gradient(#4182ad,#184776);background-image:-o-linear-gradient(#4182ad,#184776);background-image:linear-gradient(#4182ad,#184776);

box-shadow: 0 0 15px #3F8DDC;

 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

/* Links color */
#nav-container li a { color:#111; }




.titls {
	
	
	border:1px solid #145072;background:#2567ab;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);background-image:-moz-linear-gradient(#5f9cc5,#396b9e);background-image:-ms-linear-gradient(#5f9cc5,#396b9e);background-image:-o-linear-gradient(#5f9cc5,#396b9e);background-image:linear-gradient(#5f9cc5,#396b9e);
	
	padding: 15px;
	font-weight: bold;
	
	


	
	}



.more-button {width:50%}
.more-button:hover {width:50%}



.c-list > li:hover {
	
	
	

background:#eee;color:#444;text-shadow:0 1px 1px #f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#fdfdfd));background-image:-webkit-linear-gradient(#eee,#fdfdfd);background-image:-moz-linear-gradient(#eee,#fdfdfd);background-image:-ms-linear-gradient(#eee,#fdfdfd);background-image:-o-linear-gradient(#eee,#fdfdfd);background-image:linear-gradient(#eee,#fdfdfd);
	
	box-shadow: 0 0 15px #3F8DDC;

	
	
	
	}

.product-collateral .product-add-to ul li a {width:96%;}


html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 p {display:none;}

.ul li {display:none;}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-2 h3 {display:none;}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul.form-list li {
	

 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:96%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:5px;
			margin-bottom:5px;
			
border:1px solid #ccc;background:#eee;color:#444;text-shadow:0 1px 1px #f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));background-image:-webkit-linear-gradient(#fdfdfd,#eee);background-image:-moz-linear-gradient(#fdfdfd,#eee);background-image:-ms-linear-gradient(#fdfdfd,#eee);background-image:-o-linear-gradient(#fdfdfd,#eee);background-image:linear-gradient(#fdfdfd,#eee);
	
	margin-top: 10px;
    padding: 10px;
	
	
	
	
	}
	


html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul li label {
	
	
	margin-left:10px;
	
	width:85%
	
	font-weight: lighter;
	
	
	
	}
	
	
	 
 	html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 button#onepage-guest-register-button.button {
		
		padding: 5px;
		
		 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:5px;
			margin-bottom:5px;
			
			border:1px solid #145072;background:#2567ab;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);background-image:-moz-linear-gradient(#5f9cc5,#396b9e);background-image:-ms-linear-gradient(#5f9cc5,#396b9e);background-image:-o-linear-gradient(#5f9cc5,#396b9e);background-image:linear-gradient(#5f9cc5,#396b9e);

	box-shadow: 0 0 7px #a4a4a5;
		
		
		}
 
 
 
 
  	html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 button#onepage-guest-register-button.button:hover {
		
		padding: 5px;
		
	 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:5px;
			margin-bottom:5px;
			
border:1px solid #145072;background:#eee;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#4182ad),to(#184776));background-image:-webkit-linear-gradient(#4182ad,#184776);background-image:-moz-linear-gradient(#4182ad,#184776);background-image:-ms-linear-gradient(#4182ad,#184776);background-image:-o-linear-gradient(#4182ad,#184776);background-image:linear-gradient(#4182ad,#184776);

box-shadow: 0 0 15px #3F8DDC;
		
		
		}




html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 div.buttons-set {display:none;}

.button:hover {
	
		margin-bottom: 25px;
		
	 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:5px;
			
border:1px solid #145072;background:#eee;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#4182ad),to(#184776));background-image:-webkit-linear-gradient(#4182ad,#184776);background-image:-moz-linear-gradient(#4182ad,#184776);background-image:-ms-linear-gradient(#4182ad,#184776);background-image:-o-linear-gradient(#4182ad,#184776);background-image:linear-gradient(#4182ad,#184776);

box-shadow: 0 0 15px #3F8DDC;
	
	}
	
	
	
	.button {
	
	margin-bottom: 25px;
	 padding: 5px;

		 -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
    color:#fff;
    font-size:18px;
    width:100%;
    
    -webkit-appearance:none;
            appearance:none;
			
			margin-top:5px;
			
			border:1px solid #145072;background:#2567ab;color:#fff;text-shadow:0 -1px 1px #145072;background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);background-image:-moz-linear-gradient(#5f9cc5,#396b9e);background-image:-ms-linear-gradient(#5f9cc5,#396b9e);background-image:-o-linear-gradient(#5f9cc5,#396b9e);background-image:linear-gradient(#5f9cc5,#396b9e);

	box-shadow: 0 0 7px #a4a4a5; }
	
	
	
html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul li label {width:88%;}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li a {display:none;}
 
.menulist {float:left;


	height:45px;
	
background:#eee;color:#3e3e3e;font-weight:bold;text-shadow:0 1px 1px #fff;background-image:-webkit-gradient(linear,left top,left bottom,from( #f0f0f0 ),to( #ddd ));background-image:-webkit-linear-gradient( #f0f0f0,#ddd );background-image:-moz-linear-gradient( #f0f0f0,#ddd );background-image:-ms-linear-gradient( #f0f0f0,#ddd );background-image:-o-linear-gradient( #f0f0f0,#ddd );background-image:linear-gradient( #f0f0f0,#ddd )

}


.in-header {    float: left;
    height: 45px;
	background: url("../images/inheader.png") no-repeat scroll 0 0 #FFFFFF;
	width: 40px;
	}
	
	
	.menu-right {float:right;}
	
	
	
	
	
.box-head {
	
	
	border-bottom:1px solid #b3b3b3;background:#eee;color:#3e3e3e;font-weight:bold;text-shadow:0 1px 1px #fff;background-image:-webkit-gradient(linear,left top,left bottom,from( #f0f0f0 ),to( #ddd ));background-image:-webkit-linear-gradient( #f0f0f0,#ddd );background-image:-moz-linear-gradient( #f0f0f0,#ddd );background-image:-ms-linear-gradient( #f0f0f0,#ddd );background-image:-o-linear-gradient( #f0f0f0,#ddd );background-image:linear-gradient( #f0f0f0,#ddd )
	
padding: 5px;	
	
	}
	
	
	
html.js body.customer-account-index section div.my-account div.dashboard div.box-account div.col2-set div.col-2 div.info-box h3.box-title,
html.js body.customer-account-index section div.my-account div.dashboard div.box-account div.col2-set div.col-1 div.info-box h3.box-title,
html.js body.cms-index-index div.mobile_banner div.toolbar div.sorter div.sort-by label,
html.js body.cms-index-index div#notice-cookie-block.global-site-notice div.notice-inner p,
html.js body.checkout-cart-index section div.cart ul.messages li.success-msg ul li,
html.js body.wishlist-index-index section div.my-account div.my-wishlist ul.messages li
{
	
	text-shadow:none;
	
	
	}

html.js body.sendfriend-product-send section.send-to-friend div.send-friend form#product_sendtofriend_form {padding:15px;



border-bottom:1px solid #ccc;background:#eee;color:#444;text-shadow:0 1px 1px #f6f6f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));background-image:-webkit-linear-gradient(#fdfdfd,#eee);background-image:-moz-linear-gradient(#fdfdfd,#eee);background-image:-ms-linear-gradient(#fdfdfd,#eee);background-image:-o-linear-gradient(#fdfdfd,#eee);background-image:linear-gradient(#fdfdfd,#eee);




}



html.js body.sendfriend-product-send section.send-to-friend div.send-friend form#product_sendtofriend_form div.fieldset h2.legend {margin: 25px 0px 15px 0px}


html.js body.cms-index-index div.mobile_banner div.bnrs p a img{
	
	width:100%;
	}
	
	
.more-views ul li {
    float: left;
    width: 57px;
}

.more-views {
	
	 height: 85px;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
	
	}

.product-img-box {margin:auto;}
.more-views ul {margin:auto;}

.product-view .product-image ul.carousel-items { overflow:visible; height:auto; }
.product-view .product-image-wrap img { position:relative; width:100%; height:auto;}
.product-view .product-img-box .controls .prev { left:0; right:95%; }
.product-view .product-img-box .controls .next { left:95%; right:0; }
.product-view .product-image ul {height:auto !important;} 

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.slideshow {
display:none;
}
