@import url('https://fonts.googleapis.com/css?family=Coustard:400,900|Lato:400,400i,700|Lobster');
a {
    color: #1394ca
}

body > header .menu-wrapper {
    padding-left: 0;
    color: #fff;
    text-shadow: 0 -1px 1px #145072;
    background-image: linear-gradient(#f0f0f0, #ddd);
    border-bottom: 1px solid #4d4d4d
}

body > address.copyright {
    border-bottom: 1px solid #ccc;
    background: #eee;
    color: #fff;
    text-shadow: 0 1px 1px #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
    background-image: -webkit-linear-gradient(#fdfdfd, #eee);
    background-image: -moz-linear-gradient(#fdfdfd, #eee);
    background-image: -ms-linear-gradient(#fdfdfd, #eee);
    background-image: -o-linear-gradient(#fdfdfd, #eee);
    background-image: linear-gradient(#fdfdfd, #eee);
    font-size: 10px
}

a[href*="invitation/index/send/"].button,
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.my-wishlist-shared .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #de8a55;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px outset #e4e4e4;
}

a[href*="invitation/index/send/"].button:hover,
.map-popup-checkout button:hover,
.more-button:hover,
.btn-checkout:hover,
.account-login button:hover,
.add-to-links > li > a:hover,
.cart-table tfoot button:hover,
.opc .buttons-set button:hover,
.checkout-success button:hover,
.box-reviews .buttons-set button:hover,
.my-account .form-buttons button:hover,
#contactForm .buttons-set button:hover,
.giftregistry .buttons-set button:hover,
.wishlist-view .buttons-set button:hover,
.send-to-friend .buttons-set button:hover,
.account-create .buttons-set button:hover,
.add-to-links > li .split-button strong:hover,
.catalog-product-gallery .buttons-set a:hover,
.my-account .my-rewards .buttons-set button:hover,
.my-account .my-wishlist .buttons-set button:hover,
.my-wishlist-shared .buttons-set button:hover,
.product-view .product-shop .add-to-box button:hover,
.popup-block .block-content .buttons-set button:hover,
.customer-account-forgotpassword .buttons-set button:hover,
.product-view .product-options-bottom .add-to-cart button:hover,
.my-account .billing-agreements .box-content .form-list select + button:hover {
    opacity: .8;
}

.titls {
    border: 1px solid #145072;
    background: #2567ab;
    color: #fff;
    text-shadow: 0 -1px 1px #145072;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
    background-image: -webkit-linear-gradient(#5f9cc5, #396b9e);
    background-image: -moz-linear-gradient(#5f9cc5, #396b9e);
    background-image: -ms-linear-gradient(#5f9cc5, #396b9e);
    background-image: -o-linear-gradient(#5f9cc5, #396b9e);
    background-image: linear-gradient(#5f9cc5, #396b9e);
    padding: 15px;
    font-weight: 700
}

.more-button {
    width: 86%;
}

.more-button:hover {
    width: 86%
}

.c-list > li:hover {
    background: #eee;
    color: #444;
    text-shadow: 0 1px 1px #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fdfdfd));
    background-image: -webkit-linear-gradient(#eee, #fdfdfd);
    background-image: -moz-linear-gradient(#eee, #fdfdfd);
    background-image: -ms-linear-gradient(#eee, #fdfdfd);
    background-image: -o-linear-gradient(#eee, #fdfdfd);
    background-image: linear-gradient(#eee, #fdfdfd);
    box-shadow: 0 0 15px #3F8DDC
}

.product-collateral .product-add-to ul li a {
    width: 96%
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 p {
    display: none
}

.ul li {
    display: none
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-2 h3 {
    display: none
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul.form-list li {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    width: 93%;
    -webkit-appearance: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    background: #ccc;
    text-shadow: 0 1px 1px #f6f6f6;
    margin-top: 10px;
    padding: 10px
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul li label {
    margin-left: 10px;
    width: 85%;
    font-weight: normal
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 button#onepage-guest-register-button.button {
    padding: 5px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    -webkit-appearance: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px outset #d6d6d6;
    background: #de8a55;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 button#onepage-guest-register-button.button:hover {
    opacity: .8;
}

.buttons-set {
    padding-top: 5px;
}

.button {
    margin-bottom: 25px;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    width: 100%;
    border: 1px outset #cccccc;
    -webkit-appearance: none;
    color: #fff;
    background-color: #797979;
}

.button span {
    font-size: 16px;
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li#opc-login.section div#checkout-step-login.step div.col2-set div.col-1 ul li label {
    width: 88%;
    color: #000;
    text-shadow: none
}

html.js body.checkout-onepage-index section ol#checkoutSteps.opc li a {
    display: none
}

.menulist {
    float: left;
    height: 45px;
    color: #3e3e3e;
    font-weight: 700;
    text-shadow: 0 1px 1px #fff;
    background: url(../images/bg_divider.png) no-repeat left
}

.in-header {
    float: left;
    height: 45px;
    background: url(../images/inheader.png) no-repeat scroll 0 0 #FFF;
    width: 40px
}

.menu-right {
    float: right;
    padding-right: 15px;
}

.box-head {
    border-bottom: 1px solid #b3b3b3;
    background: #eee;
    color: #3e3e3e;
    font-weight: 700;
    text-shadow: 0 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ddd));
    background-image: -webkit-linear-gradient(#f0f0f0, #ddd);
    background-image: -moz-linear-gradient(#f0f0f0, #ddd);
    background-image: -ms-linear-gradient(#f0f0f0, #ddd);
    background-image: -o-linear-gradient(#f0f0f0, #ddd);
    background-image: linear-gradient(#f0f0f0, #ddd);
    padding: 5px
}

html.js body.customer-account-index section div.my-account div.dashboard div.box-account div.col2-set div.col-2 div.info-box h3.box-title,
html.js body.customer-account-index section div.my-account div.dashboard div.box-account div.col2-set div.col-1 div.info-box h3.box-title,
html.js body.cms-index-index div.mobile_banner div.toolbar div.sorter div.sort-by label,
html.js body.cms-index-index div#notice-cookie-block.global-site-notice div.notice-inner p,
html.js body.checkout-cart-index section div.cart ul.messages li.success-msg ul li,
html.js body.wishlist-index-index section div.my-account div.my-wishlist ul.messages li {
    text-shadow: none
}

html.js body.sendfriend-product-send section.send-to-friend div.send-friend form#product_sendtofriend_form {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background: #eee;
    color: #444;
    text-shadow: 0 1px 1px #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
    background-image: -webkit-linear-gradient(#fdfdfd, #eee);
    background-image: -moz-linear-gradient(#fdfdfd, #eee);
    background-image: -ms-linear-gradient(#fdfdfd, #eee);
    background-image: -o-linear-gradient(#fdfdfd, #eee);
    background-image: linear-gradient(#fdfdfd, #eee)
}

html.js body.sendfriend-product-send section.send-to-friend div.send-friend form#product_sendtofriend_form div.fieldset h2.legend {
    margin: 25px 0 15px
}

html.js body.cms-index-index div.mobile_banner div.bnrs p a img {
    width: 100%
}

.more-views ul li {
    float: left;
    width: 57px
}

.more-views {
    height: 85px;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%
}

.product-img-box {
    margin: auto
}

.more-views ul {
    margin: auto
}

.product-view .product-image ul.carousel-items {
    overflow: visible;
    height: auto
}

.product-view .product-image-wrap img {
    position: relative;
    width: 100%;
    height: auto
}

.product-view .product-img-box .controls .prev {
    left: 0;
    right: 95%
}

.product-view .product-img-box .controls .next {
    left: 95%;
    right: 0
}

.product-view .product-image ul {
    height: auto!important
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .slideshow {
        visibility: hidden;
        display: none
    }
}

.slideshow {
    display: none
}

address.copyright {
    display: none
}

ul.links {
    padding-top: 0
}

.links li.last.privacy {
    margin-bottom: 0
}

.links li.first.last {
    margin-top: 0
}

.titls2 {
    background: #c7ced4;
    color: #000;
    text-shadow: none;
    padding: 15px;
    font-weight: 700;
}

.titls2::after {
    content: "\2212";
    color: #000;
    font-weight: 700;
    float: right;
    margin-left: 5px;
    font-size: 1.5em;
    line-height: 15px
}

.titls2.active::after {
    content: '\002B';
    color: #000;
    font-weight: 700;
    float: right;
    margin-left: 5px;
    font-size: 1.5em;
    line-height: 15px
}

#login-form {
    padding: 2%;
    background: #fff
}

#checkout-shipping-method-load {
    padding: 5px 5px 10px
}

#checkout-step-payment {
    padding: 20px 15px 15px
}

p.vintitle {
    font-size: 18px;
    text-align: center;
    background-color: #f9fb9a;
    padding: 10px;
    color: #eb340a;
}

p.vinsubtitle {
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    letter-spacing: .3px;
}

.easytabs-a-accordion {
    font-size: 15px!important;
}

.testimonialpage {
    font-family: 'Lora', serif;
    font-family: 'Lato', sans-serif;
}

.testimonialpage2 {
    padding: 10px 10px 20px 30px;
    border: 10px #E5ECE5 solid;
}

.googleimage {
    width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -25px;
}

.testimonialpage blockquote {
    color: #191919;
    font-style: italic;
    /* margin-top: -90px; */
}


/* .testimonialFlex {
          display: flex;
          justify-content: space-around;
        border-bottom: 1px solid #d4d4d4;
      }  */

.customertestimonial {
    /* padding: .5rem; */
    /* width: 100%; */
    /* margin: auto; */
    padding-top: 3rem;
}

.testimonialBG {
    background-color: #f7f7f7;
    padding-bottom: 1rem;
    border-radius: 4px;
    border: 1px outset #eee;
}

.profilestars img {
    /* border: 1px solid; */
    border-radius: 40px;
    width: 75px;
    height: 75px;
    position: relative;
    top: -30px;
    left: 25px;
}

.profilestars p {
    color: #fff;
    max-width: 140px;
}

.stars {
    position: relative;
    /* left: 120px; */
    padding-left: 120px;
    /* margin-top: -60px; */
    /* padding-bottom: 40px; */
    bottom: 60px;
    font-size: 15px;
    color: #ff741f;
}

.stars span {
    background-color: #ff9a2d;
    padding-left: 4px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 4px;
    border-radius: 3px;
    margin-right: 1px;
}

.stars .nostar {
    background-color: #ccc;
}

.citedinfo {
    position: relative;
    top: -55px;
    left: 40px;
    width: 40%;
}

.citeddescription {
    margin-top: -5px;
}

.citedinfo h5 {
    font-size: 16px;
    text-transform: uppercase;
}

.citeddescription h6 {
    font-size: 11px;
    font-weight: 300;
    line-height: .5;
}

.citeddescription p {
    font-size: 10px;
    margin-top: 5px;
    color: #999;
    font-style: italic;
}

.quotecontainer {
    width: 100%;
}

.customerquotes {
    margin-top: -50px;
}

.quotemarks {
    display: none;
}

.quotemarks h1 {
    font-size: 40px;
}

.customerquotes a {
    text-decoration: none;
    color: #4a92b7;
    font-style: normal;
    font-size: 10px;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=6);
}


/* programming page */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.programmingMain.programFlex {
    width: 95%;
    margin: auto;
}

.programmingContained {
    width: 100%;
    margin: auto;
    text-shadow: none;
    padding-bottom: 1rem;
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration: 1s;
    animation-delay: .5s
}

.title {
    width: 90%;
    margin: auto;
    font-size: 18px;
    padding: 0rem 1rem 1rem 1rem;
    text-transform: uppercase;
}

.programmingContained h3 {
    font-weight: 600;
    color: #eee;
    padding: 0px 30px 10px 30px;
}


/* .programmingdescription{
 padding: 10px 10px 0px 10px;
} */

.programmingdescription h1 {
    font-size: 18px;
    margin-top: 1em;
    border-bottom: 3px solid;
    padding-bottom: .3rem;
}

.programmingdescription h3 {
    text-align: center;
    font-size: 12px;
    padding-top: 1rem;
    text-shadow: none;
}

.programmingdescription p {
    line-height: 18px;
    margin-top: 10px;
}

.programmingdescription table a {
    font-size: 12px;
    border: 1px solid #888;
    padding: .3em;
    text-decoration: none;
    color: #04568e;
}

.programmingdescription table th {
    font-size: 12px;
}

.programmingimage {
    margin-top: -30px;
}

.programing1 {
    width: 100%;
    padding-bottom: 1rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/skin/frontend/default/mEbay/images/fs1incpcms.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.programing1 h1 {
    width: 90%;
    margin: auto;
    font-size: 28px;
    color: white;
    text-shadow: none;
    text-align: left;
    padding: 1rem 1rem .5rem 1rem;
    text-transform: uppercase;
    border-bottom: 15px solid #04568E;
}

.programmingimage img {
    width: 97%;
    height: auto;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #888888;
}

.noimage {
    display: none;
}

.tableDesktop {
    display: none;
}

.keyinstructions a {
    background: whitesmoke;
    padding: .2rem;
    border: 1px solid #b7b7b7;
}

.keyinstructions a:before {
    content: "+ ";
}

.keyinstructions a:active {
    border: 1px solid blue;
}

.keyinstructions h3 {
    color: black;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 15px;
}

.listedmakes {
    padding: 0px 5px 20px 5px;
    margin-left: 5px;
    margin: 0 auto;
    margin-top: -15px;
}

.listedmakes strong a {
    color: black;
}

.listedmakes h1 {
    text-align: center;
    font-size: 16px;
    padding: 10px 30px 30px 30px;
    color: white;
    background-color: #04568E;
    border: 1px outset white;
    text-shadow: none;
}

.listedmodels {
    background-color: whitesmoke;
    padding: 10px 20px 20px 20px;
    margin-top: -20px;
}

.listedmodels a {
    text-decoration: none;
    color: #04568E;
    -webkit-transition: color 1s, -webkit-transform 1s;
    transition: color 1s, transform 1s;
}

.listedmodels a:hover {
    color: orange;
}

.viewfullcatalog {
    text-align: right;
    margin-top: -10px;
}

.viewfullcatalog a {
    text-decoration: none;
    color: darkgoldenrod;
}

.viewfullcatalog a:hover {
    opacity: .5;
}

.CTA {
    text-decoration: none;
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: darkorange;
    border: 2px outset white;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
}

.CTA h1 {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    text-shadow: none;
}

.CTA:hover {
    opacity: .7;
}

.CTA h5 {
    font-size: 14px!important;
    color: #fff;
    font-weight: 400;
    text-shadow: none;
    padding-bottom: .5rem;
}

a.CTA {
    text-decoration: none;
}

.CTACONTAINER a {
    text-decoration: none;
}

hr.style14 {
    border: 0;
    height: 1px;
    margin-top: 0px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* ==========================================================================
   ABOUT US PAGE MOBILE
==========================================================================*/


/* 
    *
    * accordion 
    * styles
    * start here
    *
    */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-left: solid 5px #de8a55;
}

button.accordion.active,
button.accordion:hover {
    background-color: #dcdcdc;
    border-left: solid 5px #2defe9;
    color: black;
    font-weight: 600;
}

div.panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    padding-top: 1rem;
    transition: max-height 0.5s ease-out;
}

button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* 
    *
    * accordion 
    * styles
    * end
    *
    */

.aboutuscontent {
    display: none;
}

.maincontaineraboutus a {
    color: blue;
}

.aboutusbanner {
    width: 100%;
    height: 170px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('http://fs1inc.com/skin/frontend/default/mEbay/images/fs1inc-aboutus.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-attachment: inherit;
    color: white;
}

.aboutusbanner h1 {
    margin: auto;
    font-size: 28px;
    color: #fff;
    text-align: left;
    padding: 2rem 1rem .5rem;
    border-bottom: 15px solid #04568E;
    text-shadow: none;
}

.aboutusbanner h3 {
    padding-top: 1rem;
    text-align: center;
    color: white;
    text-shadow: none;
}

.aboutusFlex ul {
    background-color: whitesmoke;
    padding: 1rem;
    font-size: 12px;
    font-style: italic;
    padding-left: 2rem;
}

.aboutusFlex {
    padding-top: 1rem;
    /* padding-bottom: 2rem; */
    width: 100%;
    margin: auto;
    /* padding-right: 1.5rem; */
    line-height: 1.4;
}

.aboutusFlex h1 {
    border-bottom: 2px solid black;
    font-size: 17px;
    padding-top: .8rem;
}

.businessinfo h2,
.businessinfo p {
    text-align: left;
    padding-left: 15px;
    margin-top: 8px;
    text-shadow: none;
}

.businessinfo h2 {
    background-color: #04568E;
    margin-top: 0px;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-shadow: none;
}

.businessinfo p {
    padding-right: .5rem;
    padding-bottom: .1rem;
}

.businessinfo {
    border: solid 1px #ccc;
    background-color: whitesmoke;
}

.googlemap {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: hidden;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

body > section > .std,
body > section > form > .fieldset {
    padding: 5px;
}


/**** ONE PAGE CHECK OUT ****/


/**** checkout mobile styles ****/


/**** ONE PAGE CHECK OUT ****/


/**** checkout mobile styles ****/

.login-link {
    margin-top: -60px;
    font-size: 13px;
    text-align: center;
    padding: 0px;
}

#co-checkout-form .opc .step {
    background: none;
    padding-right: 15px!important;
    padding-top: 7px;
}

.login-link a {
    color: #ff6000;
    font-size: 15px;
}

.opc .active .step-title h2 {
    color: #04578e;
    font-size: 26px!important;
    /* font-weight: 800; */
    text-align: center;
    font-weight: 500;
    /* margin-top: 8px; */
    padding-left: 0px;
}

.opc .step-title {
    height: 30px;
    line-height: 0px;
    padding: 5px 8px;
    border: 1px solid #9b9b9b;
    background: #ccc;
}

.opc .step .form-list {
    margin: 0px 0px 0px 5px;
}

#checkoutSteps li ol li {
    width: auto;
    margin-bottom: 15px;
    float: none;
    margin-right: 0;
}

#co-checkout-form #checkoutSteps li#right_collumn ol.sub li.section {
    border: none;
    width: 98%!important;
}

#checkoutSteps li#right_collumn {
    width: 100%;
}

#checkoutSteps li#right_collumn ol.sub li.section {
    float: none;
    margin-right: 15px;
    min-height: 80px;
}

div#co-payment-form {
    padding: 15px 0;
}

#checkoutSteps {
    min-width: 100px!important;
    /* background: rgba(236, 236, 236, 0.93); */
    background-image: none;
    width: 95%!important;
    margin: auto;
    border: 0px;
}

ul.checkout-types a {
    color: #ffffff;
    /*color: #296bc3;*/
    position: relative;
    top: 16px;
    right: 10px;
    /*color: #000000!important;
    position: unset!important;*/
}

.cart .checkout-types {
    background: #fff;
}

.cart .checkout-types a {
    font-size: 15px!important;
    display: block;
    margin: 5px 0 0;
    padding: 0px!important;
    text-decoration: underline;
}

div#checkout-step-review {
    width: 90%;
}

#co-checkout-form #checkoutSteps li#opc-coupon,
#co-checkout-form #checkoutSteps li#opc-review,
#co-checkout-form #checkoutSteps li#opc-giftmessage,
#co-checkout-form #checkoutSteps li#opc-agreements,
#co-checkout-form #checkoutSteps li#opc-newsletter,
#co-checkout-form #checkoutSteps li#opc-aitgiftwrap {
    margin-bottom: 0;
    border-bottom: none;
    margin-left: 0px;
    /* margin-right: 40px; */
}

a[href*="invitation/index/send/"].button,
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.my-wishlist-shared .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button {
    width: 95%!important;
    margin: auto;
}

button#aitcheckout-place-order {
    margin-top: 10px;
}

.opc .order-review .data-table {
    font-size: 12px;
    border-spacing: 0;
    /* border-collapse: collapse; */
    /* margin: 0 0 15px; */
    width: 100%;
    /* margin: auto; */
}

.customer-account-forgotpassword .fieldset,
.customer-account-logoutsuccess .page-title + p,
.breadcrumbs,
.product-view .short-description,
.product-collateral .box-collateral,
.product-collateral .box-additional .data-table th,
.product-collateral .box-additional .data-table td,
.box-up-sell,
.crosssell,
.product-view .box-tags,
.product-view .options-container-big .product-options,
.catalog-product-gallery .buttons-set,
.catalog-product-gallery .product-gallery,
.product-review,
.box-reviews .box-content,
.my-account > p,
.my-account .col2-set,
.my-account .my-rewards,
.wishlist-management,
.giftregistry-info,
.giftregistry-items > p,
.giftregistry .list-item,
.my-account .storecredit,
.my-account .order-history,
.my-account .order-details,
.my-account .review-history,
.my-account .giftregistry > p,
.my-account .recent-orders > p,
.my-account .review-history > p,
.my-account .recurring-profiles,
.my-account .billing-agreements,
.my-account .dashboard .reviews,
.my-account .order-page .order-info,
.my-account .order-page .order-date,
.my-account .product-review .details,
.my-account .dashboard .recent-orders,
.my-account .review-history .list-item,
.my-account .product-review .product-img-box,
.my-account .downloadable-products-history > p,
.my-account .downloadable-products-history .list-item,
.my-account .info-box .box-content,
.my-account .fieldset,
.my-account .dashboard > .sub-title,
.my-account .review-history table td,
.my-account .recent-orders th,
.my-account .order-history table th,
.my-account .recent-orders td,
.my-account .order-history table td,
.my-account .order-details .data-table tbody tr:first-child,
.cart-table .messages td,
.cart-table .product-options .item-options,
.checkout-success,
.paypal-review-order,
.paypal-review-order .data-table,
.opc .order-review .data-table thead tr,
.opc .order-review .data-table tbody tr:first-child,
.opc .gift-item .fieldset,
#invitations-list-table th,
#invitations-list-table td,
.category-view .currently,
.product-view .options-container-big .product-options-bottom,
.box-collateral.box-reviews {
    border-bottom: .5px solid #888;
    background: #f3f3f3;
    color: #3e3e3e;
    text-shadow: none;
    background-image: none;
    /* background-image: -webkit-linear-gradient(#f0f0f0,#ddd); */
    background-image: -moz-linear-gradient(#f0f0f0, #ddd);
    background-image: -ms-linear-gradient(#f0f0f0, #ddd);
    background-image: -o-linear-gradient(#f0f0f0, #ddd);
    /* background-image: linear-gradient(#f0f0f0,#ddd); */
}

.opc .order-review .data-table .product-name {
    width: 90%;
}

.cart .page-title.title-buttons .checkout-types {
    padding: 10px 0 0 0;
}

#checkoutSteps li#right_collumn {
    min-width: 220px!important;
}

.data-table tfoot td {
    font-size: 13px;
    border-right: 0px!important;
}

li#billing-aitcheckoutfields-top {
    /* padding: 1rem 1rem 0 1rem; */
    padding-top: 1rem;
}

#co-checkout-form #checkoutSteps {
    border-bottom: 0px;
    padding-bottom: 2rem;
    overflow: hidden;
}

#co-checkout-form .buttons-set {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.a-left {
    text-align: left;
    position: relative;
    left: -5px;
}

#checkoutSteps,
.form-list,
.validation-advice {
    clear: both;
}

form#co-checkout-form {
    padding-bottom: 3rem;
}

li.wide {
    /*padding: 0rem 1rem;*/
}


/*
=================================
=========== SEO PAGES ===========
=================================
*/

.pagetitle {
    width: 100%;
    min-height: 200px;
    background: url('http://fs1inc.com/skin/frontend/default/mEbay/images/seopcmpages-mobile.jpg');
}

.pagetitle h1 {
    /* width: 880px; */
    margin: auto;
    font-size: 50px;
    line-height: 1;
    color: white;
    border-bottom: 0px;
    text-align: CENTER;
    padding: 3rem 1rem 0rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.containerFlex {
    display: block;
    justify-content: space-between;
    padding-top: 1rem;
}

.section-image {
    min-width: 300px;
    min-height: 300px;
    max-width: 350px;
    max-height: 350px;
    padding: 1rem;
    margin: auto;
}

.sectionTitle {
    width: 95%;
    margin: auto;
    /* padding-left: 1rem; */
    margin-top: 90px;
}

.sectionTitle h1 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-align: center;
}

.sectionTitle p {
    font-size: 18px;
    line-height: 1.4;
    /* text-align: left; */
}

.contactus {
    margin: auto;
    align-content: center;
}


/* General button style (reset) */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Pseudo elements for icons */

.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.icon-cog:before {
    content: "☎";
}


/* Button 3 */

.btn-3 {
    background: #05568e;
    color: #fff;
}

.btn-3:hover {
    opacity: .8;
}

.btn-3:active {
    background: #262D2D;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 180%;
    width: 60px;
}


/* Button 3d */

.btn-3d {
    width: 100%;
    margin: auto;
    padding: 20px 40px 20px 90px;
    border-radius: 10px;
}

.btn-3d:before {
    background: #eee;
    color: #262D2D;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.btn-3d:after {
    width: 20px;
    height: 20px;
    background: #eee;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-3d:active:before {
    color: #777;
}

.btn-3d:active {
    top: 0;
}

.btn-3d:active:after {
    left: 60px;
}

.iconbutton span {
    font-size: 12px;
    font-weight: 400;
    color: #eee;
}

.pure-table {
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 95%;
}


/* .pure-table td, th{
    text-align: center;
} */

.pure-table {
    font-size: 15px;
    border-collapse: collapse;
    border-spacing: 0;
}

.pure-table thead {
    background-color: #02578e!important;
    color: #fff;
    text-align: left;
    font-size: 18px;
    /* padding: 1rem; */
    vertical-align: bottom;
}

.pure-table th {
    padding: 5px 5px 5px 5px!important;
    background-color: #07578e!important;
}

.pure-table-odd td,
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #eee;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.pure-table a {
    color: #EB2772;
}

.onlyDesktop {
    display: none;
}


/*
=================================
======== END SEO PAGES ==========
=================================
*/


/*
=================================
======== KEYS UPSELL  ==========
=================================
*/

.box-title.keys-title {
    margin: auto;
}

.crosssell h2,
.box-up-sell h2 {
    color: #424242;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 17px;
    margin: 0 0 10px;
}

.carousel-wrap .carousel-items-wrap {
    overflow: hidden;
    width: 50%;
    margin: auto;
}

.box-up-sell .item a,
.crosssell li .product-name a {
    color: #424242;
    font-weight: 500!important;
    /* padding-bottom: 1rem; */
    /* margin-bottom: 30px; */
}

.box-collateral.box-up-sell {
    background-color: white;
    border-bottom: 0;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
}

.box-up-sell .item h3 {
    display: none;
}

.upsell-prices span {
    text-align: center;
    font-size: 18px;
    padding: 1.5rem;
    color: black;
}

.actions_sell.keys-addcart {
    padding-top: .5rem;
}

.actions_sell.keys-addcart button {
    background-color: #de8a55;
}


/*
=================================
======= END KEYS UPSELL  ========
=================================
*/


/*
=================================
======= mobile footer   ========
=================================
*/

.emailadd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connect3-content a {
    margin: 0 5px;
    /* padding-top: 5px; */
    /* margin-top: 5px; */
    color: #474747;
}

.connect3-content {
    padding-top: 5px;
}

@media screen and (device-aspect-ratio: 40/71) {
    .phonenav i {
        display: none;
    }
    .flexslider .slides img {
        height: auto!important;
    }
    .menu-right {
        padding-right: 5px;
    }
}


/*
=================================
======= slider styles =======
=================================
*/

.slideshow-style-two .items img {
    position: absolute;
}

.slideshow-style-two .owl-item .items img {
    position: inherit;
}

.slideshow-style-two .items {
    display: none;
}

.slideshow-style-two .owl-item .items {
    display: block;
}