@media only screen and (max-width: 795px) and (orientation: portrait)
.bottombackground {
   background: #f2f2f2;
   color: #636363;
   }
   
   .footerlinks ul li a {
    color: #636363;
}

.socialcontainer {
    padding-top: 3%;
}
}

.bottomcontainer {
	padding-top: 10px;
}
   
.footertitle {
   font-size: 1.133em;
   margin-bottom: 15px;
}   

.footerlinks ul li {
    margin-bottom: 0.25em;
}

.footer-social-links li {
    display: inline-block;
    margin: 0 10px 10px;
    vertical-align: middle;
    line-height: 0px!important;
}

.footer-social-links li a {
    color: #bbbbbb;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.footer-social-links li a i {
	font-size: 34px;
}

hr.hr--small {
    margin: 15px 15px;
    display: block;
    border: none;
    height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#636363), to(#fff));
}

.footerinfo {
	font-size: 13px;
}

.footerinfo p, .footerinfo a {
    color: #636363;
}

.emailphone {
	line-height: 22px;
}

.emailphone li {
    display: inline-block;
}

.emailphone li i {
    padding: 0px 5px;
}

.footer-payment-links li {
    display: inline-block;
    margin: 0 10px 10px;
    vertical-align: middle;
    line-height: 0px!important;
	color: #bbbbbb;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.footer-payment-links li i{
	font-size: 34px;
}





/* Styles To Remove */
@media only screen and (max-width: 795px) and (orientation: portrait)
.footerlinks ul {
    /* padding-top: 2%; */
}

.footerlinks ul li {
    /* text-shadow: 0 1px 1px #1A1A1A; */
    margin-bottom: 0.25em;
}

.footerlinks ul li a {
    /* color: #f3f3f3; */
    /* font-weight: 700; */
}

.socialcontainer {
    /* padding: 10px 15px 0 0; */
}

.partner {
    /* padding-top: 10px; */
}

.bottombackground {
    /* background: #717171; */ (Change to #f2f2f2)
}

}

body > footer {
    /* background: #efefef; */
    /* color: #444; */
}

body > footer ul {
    /* line-height: 27px; */
    /* padding: 10px 15px 0; */
}




