.safemage-tab dl dt {
    padding-top: 2px;
    padding-bottom: 0;
}
.ovh{
    overflow: hidden;
    display: inline-block;
    font-size: 16px;
    color: #494848;
    text-align: center;
}
.safemage-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.safemage-img img{
    width: 100%;
    height: 100%;
}
.safemage-row{
    margin-bottom: 10px;
}
.safemage-link, .safemage-link:hover{
    color: #494848;
    text-decoration: none;
}
.safemage-link:hover .safemage-ext-name{
    text-decoration: underline;
}
.safemage-ext-name{
    font-weight: bold;
    min-height: 24px;
    margin-bottom: 10px;
}
.safemage-item{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    margin: 0 20px 20px 0 !important;
    vertical-align: top;
    width: 270px;
    text-align: center;
}
.safemage-message {
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    width: 280px;
}
.safemage-message .error {
    color: #D40707;
}
.safemage-message .success {
    color: #3d6611;
}
.safemage-extension-enabled-select {
    width: 90px;
}
#safemage_extensions_contact a{
    color: #ea7601;
}
