<footer>
<div class="bottombackground">
  <div class="bottomcontainer">
   <div class="footerlinks">
    <h4 class="footertitle">QUICK LINKS</h4>
     <ul>
<li><a href="https://www.fs1inc.com">Home</a></li>
<li><a href="http://35.229.81.56/about-us"> About Us</a></li>
<li><a title="Flagship One - Blog" href="https://www.fs1inc.com/blog/" target="_blank">Blog</a></li>
<li class="footcontact"><a href="http://35.229.81.56/contacts">Contact Us</a></li>
<li><a href="http://35.229.81.56/customer-service">Customer Service</a></li>
<li class="footprogram"><a href="http://35.229.81.56/programming">Programming</a></li>
<li><a href="http://35.229.81.56/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
<li><a href="http://35.229.81.56/customer-testimonials">Reviews</a></li>
<li><a href="http://35.229.81.56/faq">FAQ</a></li>
</ul>   </div>
  <div class="socialcontainer">
   <div class="sociallinks">
    <h4 class="footertitle">GET IN TOUCH</h4>
    <ul class="footer-social-links">   
<li><a href="https://www.facebook.com/flagshipone" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-official fa" aria-hidden="true"></i></a></li>
<li><a href="https://www.twitter.com/theflagshipone" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter-square fa" aria-hidden="true"></i></a></li>
<li><a href="https://www.instagram.com/flagship_one/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram fa" aria-hidden="true"></i></a></li>
<li><a href="https://www.youtube.com/channel/UC0oyKphffBM2qkJ-gKPmMXw" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-square fa" aria-hidden="true"></i></a></li>
</ul>
</div>
<hr class="hr--small">
  <div class="footerinfo" itemscope="" itemtype="https://schema.org/LocalBusiness">
    <p class="copyright">© 2018  <span itemprop="name">Flagship One, Inc.</span> All Rights Reserved.</p>
   <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
    <a class="googlemaps" href="https://www.google.com/maps/place/Flagship+One,+Inc./@40.645241,-73.6614011,17z/data=!3m1!4b1!4m5!3m4!1s0x89c264cbe3941a71:0xbd94ddd4c3774cd6!8m2!3d40.645241!4d-73.6592124">
	<p class="address"><span itemprop="streetAddress">21 Ryder Pl. </span><span itemprop="addresslocality">East Rockaway</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">11518</span></p></a>
   </div>
   <div class="emailadd">
    <ul class="emailphone">
	<li><i class="fa fa-envelope" aria-hidden="true"></i><a class="gmail" href="mailto:admin@fs1inc.com?subject=Flagship%20One,%20Inc%20-%20Customer%20Inquiry">admin@fs1inc.com</a></li>
	<li> | </li>
    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+15167662223">516-766-2223</a></li>    
   </ul></div>
  </div>  
 </div>


<div class="payment links">
 <div class="partner">
  <ul class="footer-payment-links">          
   	<li><i class="fa fa-cc-mastercard"></i></li>
	<li><i class="fa fa-cc-visa"></i></li>
	<li><i class="fa fa-cc-amex"></i></li>
	<li><i class="fa fa-cc-discover"></i></li>
	<li><i class="fa fa-cc-paypal""></i></li>
	</ul>
 </div>
</div>
</div></div></footer>