
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (http://www.aitoc.com)
 */
.login-link {
    margin: 10px 0px 10px 0px;
    font-size: 13px;
    padding: 0px;
	font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
}

.login-link a {
    color: #ff6000;
}

.login-link a:hover {
	color: #ffaf7f;
}

#co-checkout-form .opc .step,
#co-checkout-form .opc .active .step-title{
	border-style:solid solid none solid;
}

.aitcheckout-wait{
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    z-index:500;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:absolute;
    top:0;
    left:0;
}

.aitcheckout-wait img{
    left:50%;
    top:40%;
    display:block;
    position:absolute;
}

#co-checkout-form #checkoutSteps {
   border-bottom: 1px solid #BBAFA0;
   overflow: hidden;
   font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif;
}

#co-checkout-form #checkoutSteps li.section{
	display:block;
	margin-bottom:10px;
	border-bottom:1px solid #BBAFA0;
    overflow: hidden;}
	
#co-checkout-form #checkoutSteps li#opc-coupon,
#co-checkout-form #checkoutSteps li#opc-review,
#co-checkout-form #checkoutSteps li#opc-giftmessage,
#co-checkout-form #checkoutSteps li#opc-agreements,
#co-checkout-form #checkoutSteps li#opc-newsletter,
#co-checkout-form #checkoutSteps li#opc-aitgiftwrap{
	margin-bottom:0;
	border-bottom:none;}
	
#co-checkout-form li#opc-coupon .form-list li{
	display:block;
	float:left;}
	
#co-checkout-form #coupon-apply-button,
#co-checkout-form #coupon-cancel-button{
	margin:18px 0 0 15px;}
	
#co-checkout-form .success-msg{
	overflow:hidden;
	clear:both;}
	
#co-checkout-form .buttons-set{
	border:none;
	margin:0;
	padding:0;
	margin-top:20px;}
	
#co-checkout-form .checkout-agreements .agree{
	padding:5px 0px 3px 0px;}
	
#co-checkout-form .gift-messages-form .inner-box{
	height:auto;}
	
#co-checkout-form #checkout-subscribe-newsletter{
    background: url("../../../../../default/default/images/bkg_checkout.gif") repeat-x scroll 0 0 #FBFAF6;
	border-left:1px solid #BBAFA0;
	border-right:1px solid #BBAFA0;
    padding: 15px 30px;
    position: relative;
	border-bottom:none;}
 
#co-checkout-form #customreview-aitcheckoutfields-top,
#co-checkout-form #customreview-aitcheckoutfields-bottom{
   padding-left:30px;
   border-left:1px solid #BBAFA0;
   border-right:1px solid #BBAFA0;}
   
#co-checkout-form #opc-review #checkout-step-review fieldset{
   margin-top:0;}

*+html #co-checkout-form #checkoutSteps li.section{
   margin-top:-4px;}
   
   
/* qty buttons */

.qty_box{
	width:55px;}

#co-checkout-form .qty{
	width:35px;
	margin-right:5px;
	float:left;}
	
#co-checkout-form .qty_buttons{
	overflow:hidden;
	width:10px;}
	
#co-checkout-form .qty_buttons .btn-increase{
	display:block;
	width:10px;
	height:10px;
	background-image:url(../../../images/aitoc/aitcheckout/incr.png);
	background-position:top left;
	background-repeat:no-repeat;
	margin-bottom:3px;}
	
#co-checkout-form .qty_buttons .btn-decrease{
	display:block;
	width:10px;
	height:10px;
	background-image:url(../../../images/aitoc/aitcheckout/decr.png);
	background-position:top left;
	background-repeat:no-repeat;}
   
button.btn-move-to-wishlist span {
   background:none repeat scroll 0 0 #618499;
   border-color:#406A83;}
   
*+html #checkoutSteps{
   padding-top:7px;}
   
#checkout-step-review .buttons-set{
        margin: 0;
}   
.co-checkout-insteadform-div{
    background-color: #FBFAF6;
    border: 1px solid #D9DDE3;
    padding: 10px;
}
.page-title.title-buttons{
    clear: both;
}
.cart-table {
    width: 100%  !important;
}
.cart-totals-wrapper .cart-totals{
    background: none;
    border: none;
}

/* Added Styles */

#right_collumn .f-left a {
    color: #038be6;
}

#login-list {
	margin-top: 10px;
}

#login-forgotpassword {
	margin-bottom: 10px;
}

#login-backtocheckout {
	font-size: 1em;
}

.popup-agreement .buttons-set a {
	color: #038be6;
}

#checkout-step-shipping .step-title h2 {
	padding-left: 30px;
	padding-bottom: 15px;
}

#register-customer-password .field {
    margin-bottom: 10px;
}

ul#payment_form_authorizenet {
    margin-top: 15px;
}

#authorizenet_cc_type_exp_div .input-box .v-fix {
    margin-bottom: 5px;
}