<?php
/**
 * @category   Laurent
 * @package    Laurent_OrderTickets
 * @copyright  Copyright (c) 2012 Laurent Clouet
 * @license    https://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * @author     Laurent Clouet <laurent35240@gmail.com> 
 * @see        Laurent_OrderTickets_Block_Adminhtml_Chat_Create_Form
 */

?>
<form id="edit_form" action="<?php echo $this->getSaveUrl() ?>" method="post" >
    <div id="orderticket-order" >
        <?php echo $this->getChildHtml('order') ?>
    </div>
</form>