<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if (($posts = $this->getPostCollection()) !== false): ?>
<?php if (count($posts) > 0): ?>
	<div class="box-collateral box-related-posts">
		<?php if ($title = $this->getTitle()): ?>
			<h2><?php echo $this->__($title) ?></h2>
		<?php endif; ?>
		<div class="std">
			<ul>
			<?php foreach($posts as $post): ?>
				<li>
					<a href="<?php echo $post->getPermalink() ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a>
				</li>
			<?php endforeach; ?>
			</ul>
		</div>
	</div>
<?php endif; ?>
<?php endif; ?>