.mv_smartmenu{
	background:#F3F3F3;
	float:left;
	margin-bottom:1.3em;
	padding:0px 0;
	width:100%;
}
.mv_smartmenu .head a{
	background:url(../images/arrow-cat.gif) no-repeat right center;
	float: right;
	width: 15px;
	height: 15px;	
}
.mv_smartmenu .head a:hover{
	background:url(../images/arrow-cat-hover.gif) no-repeat right center;
}
.mv_smartmenu .selected a{
	background:url(../images/arrow-cat-active.gif) no-repeat right center !important;
}

#theMenu_acc li a{
		clear: both;
		padding-bottom: 0px;
		padding-top: 2px;
		padding-left: 12px;
}
#theMenu_acc li a:hover{
		padding-bottom: 0px;
		padding-top: 2px;
		padding-left: 12px;
}
#theMenu_acc li ul li a{
	background:url(../images/bg-li.gif) no-repeat 10px 5px;
	padding-left: 25px;
	color: #002398;
	text-decoration: none;
	padding-bottom: 0px;
}
#theMenu_acc li ul li a:hover{
	background:url(../images/bg-li.gif) no-repeat 10px 5px;
	padding-left: 25px;
	color: #002398;
	text-decoration: underline;
	padding-bottom: 0px;
}
#theMenu_acc li ul li ul{
	margin-left: 10px;
	padding:5px 0;
}
#theMenu_acc li ul li ul li a{
	background:url(../images/bg-cate-active2.gif) no-repeat 10px 6px;
	padding-left: 25px;
	color: #002398;
	text-decoration: none;
}
#theMenu_acc li ul li ul li a:hover{
	background:url(../images/bg-cate-active2.gif) no-repeat 10px 6px;
	padding-left: 25px;
	color: #002398;
	text-decoration: underline;
}
#theMenu_acc li.active a{
	font-weight: bold;
}
#theMenu_acc li.active ul li a{
	font-weight: normal;
}
#theMenu_acc li.active ul li.active a{
	font-weight: bold;
}
/*-----------------------------------------*/
.mw_shopby{
	margin-bottom: 1.3em;
	background:#F3F3F3;
	border:none;
}
.mw_shopby_head {
	margin:0;
}
.mw_shopby_head h3{display:block !important;
background: none repeat scroll 0 0 #F3F3F3;
    
    padding: 12px 9px 2px;
	color: #000000;margin: 0;
    font: bold 14px/16px Trebuchet MS,Arial,Helvetica,sans-serif;
    text-transform: capitalize;
}
.mw_shopby h4 {
	background:#D5E8FF url(../images/layered_nav_narrowed_category_heading.gif) repeat scroll 0 0;	
	border-top:1px solid #B9CCDD;
	border-bottom:1px solid #B9CCDD;
	color:#1F5070;
	font-size:1em;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
	display:none;
}
.mw_shopby p.block-subtitle{
	background:none;
	
	color:#000;
	font-size:1em;
	font-weight:bold;
	margin:0;
	padding:3px 10px;
}
.mw_shopby .btn-remove{
	float:right;
	font-size:11px;
	margin:4px 3px 1px 5px;
}
.mw_shopby .currently{
	
}
.mw_shopby .currently li{
	padding:0 10px;
}
.mw_shopby .actions{
	text-align: right;
	padding:0 10px;
}
.mw_shopby_content{
	padding-bottom: 7px !important;
}
#shopby li {
    border-top: 1px solid #D7D7D7;
    padding: 2px 4px 4px 0;
}
#shopby li li{padding: 0px 4px 0px 10px;border:none;}
.mw_shopby_content span.title{
	color:#2F2F2F;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:2px 0 0px 12px;
	text-transform:capitalize;
	font-size: 12px;
	font-weight: bold;
	display: block;
}
.mw_shopby_content span.title{
	background:transparent url(../images/arrow-cat.gif) no-repeat scroll right center;
	padding-left: 12px;
	cursor:pointer;
}
.mw_shopby_content span.selected	
{	
	background: transparent url(../images/arrow-cat-active.gif) no-repeat scroll right center !important;
}

.mw_shopby_content span.title a, .mw_shopby_content span.title a:hover{
	color:#2F2F2F;
	text-decoration: none;
}
.mw_shopby_content ol{
	padding-left: 25px;
}
.mw_shopby_content ol li{
	background:transparent url(../images/bg-li.gif) no-repeat scroll 0 6px;
	padding-left:10px;
}
.mv_smartmenu h4{
	background: none repeat scroll 0 0 #F3F3F3;
    border-bottom: 1px solid #D7D7D7;
    padding: 12px 9px 2px;
	color: #000000;margin: 0;
    font: bold 14px/16px Trebuchet MS,Arial,Helvetica,sans-serif;
    text-transform: capitalize;
}
#theMenu_acc ul{padding:10px 0;}
#theMenu_acc li{border-top: 1px solid #D7D7D7;padding: 2px 4px 4px 0;}
#theMenu_acc li.first{border:none;}
#theMenu_acc li li{border:none;padding:0;}
a.main-cate, a:hover.main-cate  {
	color:#000;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-transform:capitalize;
}

.mw_shopby_content a.title_auto , .mw_shopby_content a:hover.title_auto{
	background:transparent url(../images/arrow-cat-active.gif) no-repeat scroll right center;
	color:#000;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0;
	margin-right:3px;
	padding:2px 0 5px 15px;
	text-transform:capitalize;
	text-decoration: none;
}
.mw_shopby_content a.select_auto , .mw_shopby_content a:hover.select_auto{
	background:transparent url(../images/arrow-cat.gif) no-repeat scroll right center !important;
	color:#2F2F2F;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0;
	margin-right:3px;
	padding:2px 0 5px 15px;
	text-transform:uppercase;
	text-decoration: none;
}

.mw_shopby_content a.title_collap , .mw_shopby_content a:hover.title_collap{
	background:transparent url(../images/arrow-cat-active.gif) no-repeat scroll right center !important;
	color:#2F2F2F;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0;
	margin-right:3px;
	padding:2px 0 5px 15px;
	text-transform:uppercase;
	text-decoration: none;
}
.mw_shopby_content a.select_collap , .mw_shopby_content a:hover.select_collap{
	background:transparent url(../images/arrow-cat.gif) no-repeat scroll right center;
	color:#2F2F2F;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin-bottom:0;
	margin-right:3px;
	padding:2px 0 5px 15px;
	text-transform:uppercase;
	text-decoration: none;
}


#cate_collap a.title_collap span , #cate_collap a:hover.title_collap span{
	background:transparent url(../images/arrow-cat.gif) no-repeat scroll 0 50%;
	display:block;
	width:15px;
}
#cate_collap a.select_auto span , #cate_collap a:hover.select_auto span{
	background:transparent url(../images/arrow-cat-active.gif) no-repeat scroll 0 50%;
	display:block;
	width:15px;
}


.ul_level1 ul{
	display: block !important;
}
#cate_collap li a{
		clear: both;
		padding-bottom: 0px;
		padding-top: 2px;
		padding-left: 12px;
		color:#2F2F2F;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		text-transform:uppercase;
}
#cate_collap li a:hover{
		padding-bottom: 0px;
		padding-top: 2px;
		padding-left: 12px;
		color:#2F2F2F;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		text-transform:uppercase;
}
#cate_collap li ul li a{
	background:url(../images/bg-li.gif) no-repeat 10px 10px;
	padding-left: 25px;
	color: #444;
	text-decoration: none;
	padding-bottom: 0px;
	text-transform:capitalize;
	font-weight: normal;
}
#cate_collap li ul li a:hover{
	background:url(../images/bg-li.gif) no-repeat 10px 10px;
	padding-left: 25px;
	color: #444;
	text-decoration: none;
	padding-bottom: 0px;
	text-transform:capitalize;
	font-weight: normal;
}
#cate_collap li ul li ul{
	margin-left: 10px;
}
#cate_collap li ul li ul li a{
	background:url(../images/bg-cate-active2.gif) no-repeat 10px 10px;
	padding-left: 25px;
	color: #444;
	text-decoration: none;
}
#cate_collap li ul li ul li a:hover{
	background:url(../images/bg-cate-active2.gif) no-repeat 10px 10px;
	padding-left: 25px;
	color: #444;
	text-decoration: none;
}
#cate_collap li.active a{
	font-weight: bold;
}
#cate_collap li.active ul li a{
	font-weight: normal;
}
#cate_collap li.active ul li.active a{
	font-weight: bold;
}
#cate_collap li.first{
	border-top: 0px none;
}
