
/* Theme options */

/* Links Color */
a { color:#1394ca; }

/* Main color */
body > header,
body > footer ul,
body > address.copyright { background-color:#e76212; }

/* Button Color */
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
#contactForm .buttons-set button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button { background-color:#e76212; }

/* Main Page Navigation links color */
#nav-container li a { color:#111; }

/* Buttons background color */
.form-subscribe button { background:green; }
