<?php
/**
 * @see Ebizmarts_MailChimp_Block_Adminhtml_System_Config_Fieldset_Hint
 */
?>
<div class="mailchimp-notice">
    <img width="244px" height="60px" src="https://ebizmarts-website.s3.amazonaws.com/Logo_Ebizmarts.png"/>
    <h4>
        <?php echo Mage::helper('mailchimp')->__('<strong style="color:#EA7601;">MailChimp For Magento v%s by</strong> <a target="_blank" href="http://ebizmarts.com"><strong>ebizmarts</strong></a>', $this->getMailChimpVersion()) ?>
        <br>
        <?php echo Mage::helper('mailchimp')->__('Need help? Read how to <a href="http://kb.mailchimp.com/integrations/e-commerce/connect-or-disconnect-mailchimp-for-magento#Configure-and-Connect" target="_blank">Configure and Connect</a> or browse our <a href="http://ebizmarts.com/mailchimp-for-magento-support" target="_blank">support forums</a>'); ?>
    </h4>
</div>
