<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancedreports
 * @version    2.8.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $numColumns = sizeof($this->getColumns()); ?>
<?php if($this->getCollection()): ?>
    <script>
        var _submitEnabled = true;
    </script>
    <?php if($this->canDisplayContainer()): ?>
        <div id="<?php echo $this->getId() ?>">
    <?php else: ?>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php endif; ?>
    <div class="aw_arep_reports_list">
        <?php if($this->getStoreSwitcherVisibility()): ?>
                <?php echo $this->getStoreSwitcherHtml() ?>
        <?php endif ?>
        <?php echo $this->getReportsListHtml() ?>
    </div>
    <div class="aw_arep_report_grid">
        <?php if($this->getDateFilterVisibility()): ?>
            <table cellspacing="0" class="actions">
                <tr>
                    <?php if($this->getDateFilterVisibility()): ?>
                        <td class="a-right filter">
                            <div class="report-title"></div>
                            <script type="text/javascript">
                                //prepare header
                                var header = $$('.content-header').first();
                                $$('.report-title').first().innerHTML = header.innerHTML;
                                header.hide();
                            </script>
                            <?php if ( Mage::helper('advancedreports')->isChartEnabled() && $this->hasRecords() ): ?>
                                <?php if ($this instanceof AW_Advancedreports_Block_Advanced_Country_Grid) : ?>
                                    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
                                    <script type="text/javascript">
                                        google.load('visualization', '1', {'packages': ['geochart']});
                                    </script>
                                <?php endif ?>
                            <?php endif; ?>

                            <div id="calendars-box">
                                <div id="calendars_header"></div>
                                <div id="calendars-container">
                                    <div id="calendars"></div>
                                    <div id="calendar_form">
                                        <div class="date_range_box">
                                            <?php echo $this->__('Date Range') ?>:
                                            <select  class="input-text no-changes advanced-filter" name="custom_date_range" id="custom_date_range" name="custom_date_range" onchange="switchDateRange();">
                                                <?php foreach ( Mage::helper('advancedreports')->getOptions($this->getId()) as $option ): ?>
                                                    <option value="<?php echo  $option['value'] ?>" <?php if ( $this->getFilter('custom_date_range') ? $this->getFilter('custom_date_range') === $option['value'] : isset($option['default'])  ): ?>selected<?php endif; ?>><?php echo  Mage::helper('advancedreports')->__($option['label']) ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                            <script type='text/javascript'>
                                                Event.observe($('custom_date_range'), 'focus', function() {
                                                    this.up().addClassName('active');
                                                });
                                                Event.observe($('custom_date_range'), 'blur', function() {
                                                    this.up().removeClassName('active');
                                                });
                                            </script>
                                        </div>
                                        <!--[if IE]>
                                            <style>
                                                #calendar_form {
                                                    width: 283px !important;
                                                }
                                            </style>
                                        <![endif]-->
                                        <div id="fields">
                                            <div class="period_field">
                                                <label for="period_date_from">From:</label>
                                                <input type="text" name="report_from" value="<?php echo $this->getFilter('report_from')?>" id="period_date_from" onchange="setCustomRange();"/>
                                            </div>
                                            <div class="period_field">
                                                <label for="period_date_to">To:</label>
                                                <input type="text" name="report_to" value="<?php echo $this->getFilter('report_to')?>" id="period_date_to" onchange="setCustomRange();"/>
                                            </div>
                                            <script type='text/javascript'>
                                                Event.observe($('period_date_from'), 'focus', function() {
                                                    this.up().addClassName('active');
                                                });
                                                Event.observe($('period_date_from'), 'blur', function() {
                                                    this.up().removeClassName('active');
                                                });
                                                Event.observe($('period_date_to'), 'focus', function() {
                                                    this.up().addClassName('active');
                                                });
                                                Event.observe($('period_date_to'), 'blur', function() {
                                                    this.up().removeClassName('active');
                                                });
                                            </script>
                                        </div>
                                        <div class="arep-button-set">
                                            <?php echo $this->getRefreshButtonHtml() ?>
                                            <button type="button" class="arep-hide-calendar-button scalable task" onclick="$('calendars_header').removeClassName('opened'); $('calendars-container').removeClassName('is_displayed');">
                                                <span><?php echo $this->__('Cancel') ?></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript" charset="utf-8">
                                var datePicker = new Timeframe('calendars', {
                                    startField: 'period_date_from',
                                    endField: 'period_date_to',
                                    resetButton: 'reset',
                                    header: 'calendars_header',
                                    form: 'calendars-container'
                                });
                            </script>
                            <div class="aw-arep-settings">
                                <div <?php  if ( $this->getHideShowBy() ): ?> style="display:none;"<?php endif; ?> class="report_period_box">
                                    <input type="hidden" name="report_period" id="report_period" value="<?php echo $this->getFilter('report_period')?>"/>
                                    <div id="report_periods_list">
                                        <?php foreach ($this->getPeriods() as $_value=>$_label): ?>
                                            <button value="<?php echo $_value ?>" class="report_period_item <?php if($this->getFilter('report_period')==$_value): ?> active<?php endif; ?>" <?php if($this->getFilter('report_period')==$_value): ?> disabled<?php endif; ?> onclick="reloadForReportPeriod('<?php echo $_value ?>')">
                                                <?php echo $_label ?>
                                            </button>
                                        <?php endforeach; ?>
                                    </div>
                                </div>

                                <?php if (Mage::helper('advancedreports')->isChartEnabled() && !$this->getNeedReload()): ?>
                                    <?php if ($this->getChartParams() && count($this->getChartParams()) > 1): ?>
                                        <div class="param_selector_box">
                                            <div id="param_selector_list">
                                                <?php foreach( $this->getChartParams() as $param ): ?>
                                                    <button value="<?php echo  $param['value'] ?>" class="report_param_selector_item <?php if( $this->getFilter('param_selector') === $param['value'] ): ?>  active<?php endif; ?>"<?php if( $this->getFilter('param_selector') === $param['value'] ): ?>  disabled<?php endif; ?> onclick="reloadForChartParam('<?php echo $param['value'] ?>')">
                                                        <?php echo Mage::helper('reports')->__( $param['label'] ) ?>
                                                    </button>
                                                <?php endforeach; ?>
                                            </div>
                                            <input type="hidden" name="param_selector" id="param_selector" value="<?php echo $this->getFilter('param_selector')?>" />
                                        </div>
                                    <?php elseif ($this->getChartParams() && count($this->getChartParams()) == 1): ?>
                                        <?php $params = $this->getChartParams(); ?>
                                        <input type="hidden" name="param_selector" id="param_selector" value="<?php echo $params[0]['value'] ?>" />
                                    <?php endif; ?>
                                <?php elseif((Mage::helper('advancedreports')->isChartEnabled() || $this->getShowAnyway()) && $this->getNeedReload()): ?>
                                        <div class="param_selector_box">
                                            <?php $params = $this->getChartParams(); ?>
                                            <input type="hidden" class="advanced-filter" name="param_selector" id="param_selector" value="<?php echo  $params[0]['value'] ?>" />
                                            <div id="param_selector_list">
                                                <?php foreach(Mage::helper('advancedreports')->getReloadKeys() as $param): ?>
                                                    <button value="<?php echo  $param['value'] ?>" class="report_param_selector_item <?php if( $this->getFilter('reload_key') === $param['value'] ): ?>  active<?php endif; ?>"<?php if( $this->getFilter('reload_key') === $param['value'] ): ?>  disabled<?php endif; ?> onclick="reloadForReloadParam('<?php echo $param['value'] ?>')">
                                                        <?php echo Mage::helper('reports')->__( $param['label'] ) ?>
                                                    </button>
                                                <?php endforeach; ?>
                                            </div>
                                            <input type="hidden" name="reload_key" id="reload_key" value="<?php echo $this->getFilter('reload_key')?>" />
                                        </div>
                                <?php endif; ?>
                                <?php if ($this->getShowAdditionalSelector()): ?>
                                    <?php echo $this->getAdditionalSelectorHtml(); ?>
                                <?php endif; ?>

                                <?php if ( $this->getIsSalesByProduct() ): ?>
                                    <div class="f-left aw_arep_sku_container">
                                        <div><?php echo $this->__('SKU') ?>:&nbsp;<input class="input-text no-changes required-entry advanced-filter" title="<?php echo  $this->__('Enter product SKUs, separated by comma'); ?>"  value="<?php echo $this->getFilter('product_sku') ?>" type="text" name="product_sku" id="product_sku" autocomplete="off"/>&nbsp;</div>
                                        <div id="product_sku_advaice"></div>
                                        <div id="product_sku_loader" class="aw_arep_sku_loader"></div>
                                        <div id="product_sku_dropdown" class="aw_arep_sku_dropdown">
                                            <ul id="aw_arep_ul" class="product_sku_dropdown_ul" onmouseout="_skus.mouseOut(event); return false;" ></ul>
                                        </div>
                                        <script type="text/javascript">
                                            var _skus = new AWAdvancedReportsSkus({
                                                input:    'product_sku',
                                                loader:   'product_sku_loader',
                                                dropdown: 'product_sku_dropdown',
                                                sku_ul: 'aw_arep_ul',
                                                disable_selector: '#product_sku_dropdown ul li.active',
                                                url: '<?php echo $this->getUrl('adminhtml/awadvancedreports_product/getSku', array('sku'=>'{{sku}}', 'limit'=>'{{limit}}')); ?>',
                                                store_url: '<?php echo $this->getUrl('adminhtml/awadvancedreports_product/storeSku', array('sku'=>'{{sku}}')); ?>',
                                                limit: <?php echo $this->getCustomOption('product_sku_limit') ? $this->getCustomOption('product_sku_limit') : 10; ?>,
                                                template: '<li id="{{sku_id}}" class="is_li"><div id="overlay_{{sku_id}}" class="aw_arep_sku_li_overlay" onmousemove="_skus.mouseOver(event); return false;" onclick="_skus.mouseClick(event); return false;" ></div><span id="span_{{sku_id}}">{{sku_title}}</span></li>'
                                            });
                                        </script>
                                    </div>
                                    <div class="arep-button-set product-grid">
                                        <?php echo $this->getRefreshButtonHtml() ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <div id="aw_chart_container" style="width: 100%;"></div
                        </td>
                    <?php endif; ?>
                </tr>
            </table>
            <?php if($this->getPagerVisibility()): ?>
                <?php echo $this->getPagerHtml() ?>
            <?php endif ?>
        <?php endif; ?>

        <?php if (!$this->getHideNativeGrid()): ?>
            <div class="grid">
            <table cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
                <col/>
                <?php foreach ($this->getColumns() as $_column): ?>
                <col <?php echo $_column->getHtmlProperty() ?>/>
                <?php endforeach; ?>
                <?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
                    <thead>
                        <?php if ($this->getHeadersVisibility()): ?>
                            <tr class="headings">
                            <th class="no-link" style="width:100px"><span class="no-br"><?php echo $this->getPeriodText() ?></span></th>
                            <?php foreach ($this->getColumns() as $_column): ?>
                                <th <?php echo $_column->getHeaderHtmlProperty() ?>><span class="no-br"><?php echo $_column->getHeaderHtml() ?></span></th>
                            <?php endforeach; ?>
                            </tr>
                        <?php endif; ?>
                    </thead>
                <?php endif; ?>
                <tbody>
                <?php if ($this->getCollection()->getSize()): ?>
                    <?php foreach ($this->getCollection()->getLimitedIntervals() as $_index => $_item): ?>
                        <tr>
                        <?php $report=$this->getReport($_item['start'], $_item['end']) ?>
                        <?php $rows=count($report) ?>
                        <?php if ($rows > 0 ): ?>
                            <td rowspan="<?php echo $rows + ($this->getCountTotals() && $this->getSubtotalVisibility()?1:0) ?>"><?php echo $_index ?></td>
                                <?php $i=0;foreach ($report as $_subIndex=>$_subItem): ?>
                                    <?php if($i>0): ?>
                                    <tr>
                                    <?php endif; ?>
                                    <?php $i++; ?>
                                    <?php $j=0;foreach ($this->getColumns() as $_column): ?>
                                        <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>">
                                            <?php echo (($_html = $_column->getRowField($_subItem)) != '' ? $_html : '&nbsp;') ?>
                                        </td>
                                    <?php endforeach; ?>
                                    </tr>
                                <?php endforeach; ?>
                                <?php if($this->getCountTotals() && $rows > 0 && $this->getSubtotalVisibility()): ?>
                                <tr>
                                    <?php $j=0;foreach ($this->getColumns() as $_column): ?>
                                        <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?> subtotal">
                                            <?php echo ($j==1)?$this->getSubtotalText():$_column->getRowField($this->getTotals()) ?>
                                        </td>
                                    <?php endforeach; ?>
                                </tr>
                                <?php endif; ?>
                            <?php else: ?>
                                <td><?php echo $_index ?></td>
                                <td colspan="<?php echo $numColumns ?>" class="empty-text <?php echo $this->getEmptyTextClass() ?> last"><?php echo $this->getEmptyText() ?></td>
                            <?php endif; ?>
                        </tr>
                    <?php endforeach; ?>
                <?php elseif ($this->getEmptyText()): ?>
                    <tr>
                      <td class="empty-text <?php echo $this->getEmptyTextClass() ?>" colspan="100"><?php echo $this->getEmptyText() ?></td>
                    </tr>
                <?php endif; ?>
                </tbody>
                <?php if ($this->getCountTotals() && $this->getCollection()->getSize()): ?>
                <tfoot>
                    <tr><th><?php echo $this->getTotalText() ?></th>
                    <?php $j=0;foreach ($this->getColumns() as $_column): ?>
                        <th class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>"><?php echo $_column->getRowField($this->getGrandTotals()) ?></th>
                    <?php endforeach; ?>
                    </tr>
                 </tfoot>
                <?php endif; ?>
            </table>
            </div>
        <?php endif; ?>
        <?php if ( $this->getShowCustomGrid() ): ?>
            <?php Varien_profiler::start('aw::advancedreports::grid.phtml::rendering'); ?>
            <!-- AW Advanced Reports Show Advanced Reports -->
            <div class="grid">
            <table cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
                <?php foreach ($this->getColumns() as $_column): ?>
                    <col <?php echo $_column->getHtmlProperty() ?>/>
                <?php endforeach; ?>
                <?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
                    <thead>
                        <?php if ($this->getHeadersVisibility()): ?>
                            <tr class="headings">
                            <?php foreach ($this->getColumns() as $_column): ?>
                                <th <?php echo $_column->getHeaderHtmlProperty() ?>><span class="no-br"><?php echo $_column->getHeaderHtml() ?></span></th>
                            <?php endforeach; ?>
                            </tr>
                        <?php endif; ?>
                        <?php if ($this->getFilterVisibility()): ?>
                            <tr class="filter">
                            <?php $i=0;foreach ($this->getColumns() as $_column): ?>
                                <th<?php echo $_column->getHeaderHtmlProperty() ?>><?php echo $_column->getFilterHtml() ?></th>
                            <?php endforeach; ?>
                            </tr>
                        <?php endif ?>
                    </thead>
                <?php endif; ?>
                <tbody>
                    <?php if ( count( $this->getGridData() ) ): ?>
                        <?php foreach ($this->getGridData() as $data ): ?>
                            <tr>
                                <?php $j=0;foreach ($this->getColumns() as $_column): ?>
                                    <?php Varien_profiler::start('aw::advancedreports::grid.phtml::rendering::row'); ?>
                                    <?php Varien_profiler::start('aw::advancedreports::grid.phtml::rendering::cell'); ?>
                                    <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>">
                                        <?php echo (($_html = $_column->getRowField( $data )) != '' ? $_html : '&nbsp;') ?>
                                    </td>
                                    <?php Varien_profiler::stop('aw::advancedreports::grid.phtml::rendering::cell'); ?>
                                <?php endforeach; ?>
                                <?php Varien_profiler::stop('aw::advancedreports::grid.phtml::rendering::row'); ?>
                            </tr>
                        <?php endforeach; ?>
                    <?php elseif ($this->getEmptyText()): ?>
                        <tr>
                          <td class="empty-text <?php echo $this->getEmptyTextClass() ?>" colspan="100"><?php echo $this->getEmptyText() ?></td>
                        </tr>
                    <?php endif; ?>
                </tbody>
                <?php if ($this->getNeedTotal() && $this->getCountTotals() && count( $this->getGridData() )): ?>
                    <tfoot>
                        <tr>
                        <?php $numColumns = count($this->getColumns()); ?>
                        <?php $_isFirst = true; ?>
                        <?php $j=1;foreach ($this->getColumns() as $_column): ?>
                            <?php if ($_isFirst): ?>
                                <th><?php echo $this->getTotalText() ?></th>
                            <?php elseif ($_column->getType() == "action" || $_column->getDisableTotal()): ?>
                                <th class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>"></th>
                            <?php else: ?>
                                <?php Varien_profiler::start('aw::advancedreports::grid.phtml::rendering::total_cell'); ?>
                                <th class="<?php echo $_column->getCssProperty() ?> <?php echo ++$j==$numColumns?'last':'' ?>"><?php echo $_column->getRowField($this->getGrandTotals()) ?></th>
                                <?php Varien_profiler::stop('aw::advancedreports::grid.phtml::rendering::total_cell'); ?>
                            <?php endif; ?>
                            <?php $_isFirst = false; ?>
                        <?php endforeach; ?>
                        </tr>
                     </tfoot>
                <?php endif; ?>
            </table>
            </div>
            <?php Varien_profiler::stop('aw::advancedreports::grid.phtml::rendering'); ?>
        <?php endif; ?>
        <?php if($this->getPagerVisibility()): ?>
            <?php echo $this->getPagerHtml() ?>
        <?php endif ?>
        <div class="f-right aw-arep-settings">
            <?php echo $this->getSetupHtml(); ?>
            <?php if($this->getExportVisibility()): ?>
                <div class="aw-arep-export">
                    <input type="hidden" name="<?php echo $this->getId() ?>_export" id="<?php echo $this->getId() ?>_export" />
                    <button class="export_button"><?php echo $this->__('Export') ?></button>
                    <ul class="export_list">
                        <?php foreach ($this->getExportTypes() as $_type): ?>
                            <li class="export_list_item" value="<?php echo $_type->getUrl() ?>" onclick="$('<?php echo $this->getId() ?>_export').value = this.getAttribute('value'); <?php echo $this->getJsObjectName().'.doExport()' ?>;">
                                <?php echo $_type->getLabel() ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                    <script type="text/javascript">
                        Event.observe($$('.aw-arep-export .export_button').first(), 'click', function(){
                            $$('.export_button').first().toggleClassName('active');
                            $$('.aw-arep-export .export_list').first().toggleClassName('active');
                        });
                        Event.observe(document, "click", function(event){
                            var exportButton = $$('.aw-arep-export .export_button').first();
                            if (event.target != exportButton) {
                                $$('.export_button').first().removeClassName('active');
                                $$('.aw-arep-export .export_list').first().removeClassName('active');
                            }
                        });
                    </script>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php if($this->canDisplayContainer()): ?>
</div>
<script type="text/javascript">
//<![CDATA[
var CAWAdvancedReports = Class.create({
    initialize:function (name) {
        window[name] = this;
        this._initRanges();
        datePicker.refreshRange();
    },

    _initRanges:function () {
        <?php $values = Mage::helper('advancedreports')->getRangeValues() ?>
        this._keys = [
            <?php foreach ($values as $value): ?>
                '<?php echo  $value['key'] ?>',
                <?php endforeach; ?>
        ];
        this._from_dates = [
            <?php foreach ($values as $value): ?>
                '<?php echo  $value['from'] ?>',
                <?php endforeach; ?>
        ];
        this._to_dates = [
            <?php foreach ($values as $value): ?>
                '<?php echo  $value['to'] ?>',
                <?php endforeach; ?>
        ];
        this._periods = [
            <?php foreach ($values as $value): ?>
                <?php echo  isset($value['period']) ? "'" . $value['period'] . "'" : "null" ?>,
                <?php endforeach; ?>
        ];

        for (var i = 0; i < this._from_dates.length; i++) {
            if (!this._from_dates[i]
                || typeof(this._to_dates[i]) == 'undefined'
                || !this._to_dates[i]) {
                // There is no values for some key - remove option from select
                var option = $$('#custom_date_range>option[value="' + this._keys[i] + '"]').first();
                if (typeof(option) != 'undefined') {
                    option.remove();
                }
            }
        }
    },

    getKeys:function () {
        return this._keys;
    },

    getFromDates:function () {
        return this._from_dates;
    },

    getToDates:function () {
        return this._to_dates;
    },

    getPeriods:function () {
        return this._periods;
    }
});
new CAWAdvancedReports('awadvancedreports');

var reloadForReportPeriod = function(period) {
    $('report_period').value = period;
    <?php echo $this->getRefreshButtonCallback() ?>
};

var reloadForChartParam = function(chartParam) {
    $('param_selector').value = chartParam;
    <?php echo $this->getRefreshButtonCallback() ?>
};

var reloadForReloadParam = function(reloadParam) {
    $('reload_key').value = reloadParam;
    <?php echo $this->getRefreshButtonCallback() ?>
};

var reloadForPageRange = function(pageRange) {
    $('page_range').value = pageRange;
    <?php echo $this->getJsObjectName() ?>.loadByElement($('page_range'));
};

var getFilterValue = function(){

        var filters = $$('#'+<?php echo $this->getJsObjectName() ?>.containerId+' .filter input',
                        '#'+<?php echo $this->getJsObjectName() ?>.containerId+' .filter select',
                        '#'+<?php echo $this->getJsObjectName() ?>.containerId+'_table .filter input',
                        '#'+<?php echo $this->getJsObjectName() ?>.containerId+' .advanced-filter',
                        '#'+<?php echo $this->getJsObjectName() ?>.containerId+'_table .filter select');
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length) elements.push(filters[i]);
        }
        return encode_base64(Form.serializeElements(elements));
    };

    var watchKeys = new Array();
    <?php if (($addKeys = $this->getAdditionalKeys()) && is_array($addKeys)): ?>
    <?php foreach ($addKeys as $key): ?>
    watchKeys.push('<?php echo $key ?>');
    <?php endforeach; ?>
    <?php endif; ?>

    varienGrid.prototype.doSort = function(event){
        var element = Event.findElement(event, 'a');
        if(element.name && element.title){
            this.addVarToUrl(this.sortVar, element.name);
            this.addVarToUrl(this.dirVar, element.title);
            this.addVarToUrl(this.filterVar, getFilterValue());
            this.reload(this.url);
        }
        Event.stop(event);
        return false;
    };


    <?php echo $this->getJsObjectName() ?> = new varienGrid('<?php echo $this->getId() ?>', '<?php echo $this->getGridUrl() ?>', '<?php echo $this->getVarNamePage() ?>', '<?php echo $this->getVarNameSort() ?>', '<?php echo $this->getVarNameDir() ?>', '<?php echo $this->getVarNameFilter() ?>');
    <?php echo $this->getJsObjectName() ?>.useAjax = '<?php echo $this->getUseAjax() ?>';
    <?php if($this->getDateFilterVisibility()):?>
    <?php echo $this->getJsObjectName() ?>.doFilterCallback = validateFilterDate;

    <?php echo $this->getJsObjectName() ?>.resetFilter = function(){
        var report_from = $('period_date_from').value;
        var report_to = $('period_date_to').value;
        var param_selector = $('param_selector').value;
        var custom_date_range = $('custom_date_range').value;
        var def_str = 'report_from='+ report_from +'&report_to='+ report_to +'&param_selector='+ param_selector +'&custom_date_range=' + custom_date_range;
        this.addVarToUrl(this.filterVar, encode_base64(def_str));
        this.addVarToUrl(this.sortVar, '');
        this.addVarToUrl(this.dirVar, '');
        this.addVarToUrl('view_key', '<?php echo $this->getViewKey(); ?>' );
        this.reload(this.url);
    }

    <?php echo $this->getJsObjectName() ?>.doFilter = function(){
        if (_submitEnabled){
            var filters = $$('#'+this.containerId+' .filter input', '#'+this.containerId+' .filter select', '#'+this.containerId+'_table .filter input', '#'+this.containerId+'_table .filter select');
            var elements = [];
            for(var i in filters){
                if(filters[i].value && filters[i].value.length) elements.push(filters[i]);
            }
            if (!this.doFilterCallback || (this.doFilterCallback && this.doFilterCallback())) {
                this.reload(this.addVarToUrl(this.filterVar, encode_base64(Form.serializeElements(elements))));
            }
        }
    }

    <?php echo $this->getJsObjectName() ?>.reload = function(url){
        if (!this.reloadParams) {
            this.reloadParams = {form_key: FORM_KEY};
        }
        else {
            this.reloadParams.form_key = FORM_KEY;
        }
        this.reloadParams.report_from = $('period_date_from').value;
        this.reloadParams.report_to = $('period_date_to').value;
        this.reloadParams.custom_date_range = $('custom_date_range').value;
        this.reloadParams.report_period = $('report_period').value;
        this.addVarToUrl('view_key', '<?php echo $this->getViewKey(); ?>' );
        url = url || this.url;

        if(this.useAjax){
            new Ajax.Request(url + (url.match(new RegExp('\\?')) ? '&ajax=true' : '?ajax=true' ) + '&view_key=<?php echo $this->getViewKey(); ?>', {
                loaderArea: this.containerId,
                parameters: this.reloadParams || {},
                evalScripts: true,
                onFailure: this._processFailure.bind(this),
                onComplete: this.initGrid.bind(this),
                onSuccess: function(transport) {
                    try {
                        if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.error) {
                                alert(response.message);
                            }
                            if(response.ajaxExpired && response.ajaxRedirect) {
                                setLocation(response.ajaxRedirect);
                            }
                        } else {
                            $(this.containerId).update(transport.responseText);
                            reInitGrid();
                        }
                        datePicker.refreshRange();
                        switchDateRange();
                    }
                    catch (e) {
                        $(this.containerId).update(transport.responseText);
                    }
                }.bind(this)
            });
            return;
        } else{
            if(this.reloadParams){
                $H(this.reloadParams).each(function(pair){
                        url = this.addVarToUrl(pair.key, pair.value);
                }.bind(this));
            }
            location.href = url;
            switchDateRange();
        }
    };

    var period_date_from = $('period_date_from');
    var period_date_to   = $('period_date_to');
    period_date_from.advaiceContainer = $('period_date_from_advaice');
    period_date_to.advaiceContainer   = $('period_date_to_advaice');

    <?php if( $this->getIsSalesByProduct() ): ?>
        var product_sku = $('product_sku');
        product_sku.advaiceContainer = $('product_sku_advaice');
    <?php endif; ?>

    function validateFilterDate()
    {
        if (period_date_from && period_date_to<?php if( $this->getIsSalesByProduct() ): ?> && product_sku<?php endif;  ?>) {
            return Validation.validate(period_date_from) && Validation.validate(period_date_to)<?php if( $this->getIsSalesByProduct() ): ?> && Validation.validate(product_sku)<?php endif;  ?>;
        }
        else {
            return true;
        }
    }
    <?php endif;?>

    function reInitGrid()
    {
        <?php if ($this->getStoreSwitcherVisibility()): ?>
        if ($('store_switcher')) {
            $('store_switcher').disabled = false;
        }
        <?php endif; ?>
        switchDateRange();
    }

    function isStoredCustomDate()
    {
        <?php $values = Mage::helper('advancedreports')->getRangeValues() ?>
        var blackList = [
        <?php foreach($values as $value): ?>
             <?php if (strpos($value['key'], 'custom_') !== false ): ?>
                '<?php echo  $value['key'] ?>',
             <?php endif; ?>
        <?php endforeach; ?>
        ];

        result = false;
        for (var i = 0; i < blackList.length; i++){
            if (document.getElementById('custom_date_range').getValue() == blackList[i] ){
                result = true;
            }
        }
        return !result;
    }

    function switchDateRange() {
        var keys = awadvancedreports.getKeys();
        var from_dates = awadvancedreports.getFromDates();
        var to_dates = awadvancedreports.getToDates();
        var periods = awadvancedreports.getPeriods();

        date_range = document.getElementById('custom_date_range');
        date_from  = document.getElementById('period_date_from');
        date_to    = document.getElementById('period_date_to');
        value = date_range.getValue();
        if (value != 'custom') {
            for (var i = 0;i < keys.length; i++) {
                if ( keys[i] == value ) {
                    date_from.setValue(from_dates[i]);
                    date_to  .setValue(to_dates[i]);

                    if ( (periods[i] !== null) &&
                         (typeof(document.getElementById('report_period')) != 'undefined')
                        ){
                          var report_period = document.getElementById('report_period');
                          report_period.setValue(periods[i]);
                    }
                }
            }
        }
        var calendarHeader = document.getElementById('calendars_header');
        calendarHeader.innerHTML = date_from.getValue() + ' - ' + date_to.getValue();
        datePicker.range.start = new Date(date_from.getValue());
        datePicker.range.end = new Date(date_to.getValue());
        datePicker.parseField("start", true);
        datePicker.parseField("end", true);
        datePicker.selectstart = true;
        datePicker.populate().refreshRange();
    }

    function setCustomRange(is_not_date)
    {

        if (typeof(is_not_date) == 'undefined') {
            date_range = document.getElementById('custom_date_range');
            date_range.setValue('custom');
        } else {
            if (!isStoredCustomDate()){
                date_range = document.getElementById('custom_date_range');
                date_range.setValue('custom');
            }
        }
    }

    function switchDefDateRange()
    {
        switchDateRange();
        date_range = document.getElementById('custom_date_range');
        date_from  = document.getElementById('period_date_from');
        date_to  = document.getElementById('period_date_to');
        if ('<?php echo  $this->getFilter('report_from') ?>' && '<?php echo  $this->getFilter('report_to')   ?>'){
            date_from.setValue('<?php echo $this->getFilter('report_from') ?>');
            date_to  .setValue('<?php echo $this->getFilter('report_to')   ?>');
        }
        <?php if ( !$this->getDisableAutoload() ): ?>
        else
        {
            <?php echo  $this->getJsObjectName() ?>.doFilter();
        }
        <?php endif; ?>
    }

    switchDefDateRange();

    <?php if ($this->hasRecords()): ?>
    changeParam();
    function changeParam()
    {
        contentElementId =  'aw_chart_container';
        ajaxBlockParam  =   'block/<?php echo  $this->getRoute() ?>/';
        ajaxBlockProtocol = 'protocol/' + window.location.protocol + '/';
        ajaxTypeParam  =    'type/<?php echo  $this->getChartType() ?>/';
        ajaxOptionParam =   'option/' + $('param_selector').value + '/';
        ajaxWidthParam  =   'width/' + document.getElementById('<?php echo  $this->getId(); ?>').getWidth(document.getElementById('aw_chart_container')) + '/';
        ajaxBlockUrl =      '<?php echo  $this->getUrl('adminhtml/awadvancedreports_chart/ajaxBlock') ?>' +
                            ajaxBlockParam +
                            ajaxWidthParam +
                            ajaxTypeParam +
                            ajaxOptionParam +
                            ajaxBlockProtocol;
        ajaxBlockUrl = ajaxBlockUrl.replace(/^http[s]{0,1}/, window.location.href.replace(/:[^:].*$/i, ''));
        new Ajax.Updater(contentElementId, ajaxBlockUrl, {
            method: 'post',
            parameters: {
                isAjax: 'true',
                form_key: FORM_KEY
            },
            evalScripts: true
        });
    }
    <?php endif; ?>
//]]>
</script>
<?php endif; ?>
<?php endif; ?>