<?php
/**
 * All-In-One Checkout : All-In-One Checkout v1.1.0 (OPCB Unit)
 *
 * @package:     Aitoc_Aitcheckout / Aitoc_Aitcheckout
 * @version      1.4.17 - 1.4.17
 * @license:     FoOiFpEBsy1CQtPSBPTqBFwAOZTnyw3qCMIlTMg96m
 * @copyright:   Copyright (c) 2017 AITOC, Inc. (https://www.aitoc.com)
 */
$cfmHelper = Mage::helper('aitcheckout/aitcheckoutfields'); 
?>
<!--<form id="co-shipping-method-form" action="">-->
<div id="co-shipping-method-form">
    <!--     START AITOC CHECKOUT ATTRIBUTES     -->
    <?php if ($aFieldList = $cfmHelper->getCustomFieldList('shippmethod', 1)): ?>
    <div id="shipping_method-aitcheckoutfields-top">
        <fieldset>
            <ul class="form-list">
            <?php foreach ($aFieldList as $aField): ?>
                <?php echo $cfmHelper->getFieldHtml('shippmethod', $aField); ?>
            <?php endforeach; ?>
            </ul>                
        </fieldset>
    </div>
    <?php endif; ?>
    <!--     FINISH AITOC CHECKOUT ATTRIBUTES     -->
    <div id="checkout-shipping-method-load">
        <?php echo $this->getChildHtml('available') ?>
    </div>
    <!--     START AITOC CHECKOUT ATTRIBUTES     -->
    <?php if ($aFieldList = $cfmHelper->getCustomFieldList('shippmethod', 2)): ?>
    <div id="shipping_method-aitcheckoutfields-bottom">
        <fieldset>
            <ul class="form-list">
            <?php foreach ($aFieldList as $aField): ?>
                <?php echo $cfmHelper->getFieldHtml('shippmethod', $aField); ?>
            <?php endforeach; ?>
            </ul>                
        </fieldset>
    </div>
    <?php endif; ?>
    <!--     FINISH AITOC CHECKOUT ATTRIBUTES     -->
    <div id="shipping_method-waiting" class="aitcheckout-wait" style="display:none"><img src="<?php echo Mage::getDesign()->getSkinUrl('images/opc-ajax-loader.gif'); ?>" /></div>
    <script type="text/javascript">
    //<![CDATA[

        aitCheckout.createStep('shipping_method',{}, {
                    doCheckErrors : false,
                    isLoadWaiting : true,
                    isUpdateOnReload : true,
                    container: 'checkout-step-shipping_method',
                    ids: {
                        'loadContainer' : 'checkout-shipping-method-load'
                    }
                }
        );
    //]]>
    </script>
<!--</form>-->
</div>