<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     https://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<div class="page-title">
	<h1><?php echo $this->escapeHtml($this->getTitle()) ?></h1>
</div>
<?php if ($postList = trim($this->getPostListHtml())): ?>
	<?php echo $postList ?>
<?php else: ?>
	<p class="note-msg"><?php echo $this->__('There are no posts matching your selection.') ?>
<?php endif; ?>