<?php
echo ('hi from banner phtml');

?>
<?php
$bannerGroupCode = $this->getBannerGroupCode();
$data = $this->getDataByGroupCode($bannerGroupCode);
$bannerGroupData = $data['group_data'];
echo ('| step 1 done');
?>

<?php
$mediaUrl   = Mage::getBaseUrl('media');
$bannerData = $data['banner_data'];

$bannerWidth    = $bannerGroupData->getBannerWidth();
$bannerHeight   = $bannerGroupData->getBannerHeight();

$speed          = ($bannerGroupData->getAnimationSpeed()) ? $bannerGroupData->getAnimationSpeed() : 1000;
$slideInterval  = ($bannerGroupData->getSlideInterval()) ? $bannerGroupData->getSlideInterval() : 5000;
$autoPlay       = ($bannerGroupData->getAutoplay()) ? $slideInterval : "false";
$navigation     = ($bannerGroupData->getShowNextPrev()) ? "true" : "false";
$pagination     = ($bannerGroupData->getShowPager()) ? "true" : "false";

$transitionStyle = $bannerGroupData->getTransitionStyle();
echo ('| step 2 done');
?>
<div id="<?php echo $bannerGroupData->getGroupCode(); ?>" class="<?php if($bannerGroupData->getSlideShowStyle()): ?>slideshow-style-one <?php else: ?>slideshow-style-two<?php endif; ?>">
    <?php foreach ($bannerData as $banner): ?>
        <div class="items">
            <!-- Banner Image -->
            <a href="<?php echo (($banner->getLink()) ? $banner->getLink() : 'javascript:void(0);'); ?>" title="<?php echo $banner->getTitle(); ?>">
                <img src="<?php echo  $mediaUrl . $banner->getFilename(); ?>" alt="<?php echo $banner->getTitle(); ?>" />
            </a>

            <!-- Banner Title and Description -->
            <?php if( $bannerGroupData->getShowTitle() || $bannerGroupData->getShowContent() ): ?>
                <div class="banner-desc">
                    <div class="banner-box">
                        <div class="banner-text">
                            <div class="banner-bg">
                                <?php if($bannerGroupData->getShowContent()): ?>
                                    <p><?php echo $banner->getBannerContent(); ?></p>
                                <?php endif; ?>
                                <?php if($bannerGroupData->getShowTitle()): ?>
                                    <h3><?php echo $banner->getTitle(); ?></h3>
                                <?php endif; ?>
                                <?php if($banner->getActionText()): ?>
                                    <a href="<?php echo $banner->getLink(); ?>" class="btn-action"><span><?php echo $banner->getActionText(); ?></span></a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</div>